<article{{attributes}}>
	<div class="title-container">
		<div class="pre-title">
			2020 Virtual Benefit
		</div>

		<div class="title-wrapper">
			<div class="title-first">
				<h1 class="title-item">One<br>Moment</h1>
				<div class="line title-item"></div>
				<h1 class="title-item">Infinite<br>Ideas</h1>
			</div>
			<div class="title-second">
				<p>A virtual benefit and online auction to support the American Academy in Rome</p>
			</div>
		</div>
	</div>
	<div class="container-top">
		<div class="wrapper-first">
			<div class="pane pane-left">
				<div class="video">

					<iframe src="https://player.vimeo.com/video/465472335" width="1280" height="652" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>


				</div>
			</div>
		</div>

		<div class="wrapper-second">
			<div class="button-group">
				<a class="custom-dbox-popup donate" href="https://donorbox.org/academy-test-campaign">Donate</a>
				<a class="link">Auction</a>
				<a class="file-download">Benefit Program</a>


			</div>
		</div>

		<div class="wrapper-third">
			<div class="wrapper-third-inner">
				<div class="card event-honoring">
					<h2>Honoring</h2>
					<p>Mary Beard,</p>
					<p>classicist and 2019 Resident</p>
					<p>Theaster Gates,</p>
					<p>artist and 2020 Resident</p>
				</div>

				<div class="card event-chairs">
					<h2>Co-chairs</h2>
					<p>Slobodan Randjelović</p>
					<p>Calvin Tsao, 2010 Resident</p>
				</div>

				<div class="card event-chairs">
					<h2>Honorary chairs</h2>
					<p>Mary E. Frank</p>
					<p>John F. W. Rogers</p>
					<p>His Excellency Armando Varricchio, Ambassador of Italy to the United States</p>
				</div>
			</div>
		</div>
	</article>
