$default: 1.1rem;

$large: 3rem;
$medium: 2rem;
$small: 1.65rem;
$xsmall: 1.3rem;

$body: 1.2rem;
$caption: 1rem !important;
$label-default: 1rem;

$column-first: 30%;
$column-second: 70%;

$tradegothic: "Trade Gothic";
$tradegothiccond: "Trade Gothic Bold Condensed Twenty";
$dignitas: "Dignitas Regular";
$dignitasital: "Dignitas Italic";
$dignitasbold: "Dignitas Bold";

$display-sans: $tradegothiccond;
$display-serif: $dignitas;
$menu: $display-sans;
$label: $display-sans;
$breadcrumbs: $tradegothic;
$resource-title: $tradegothiccond;

@mixin global-margin {
  margin: 0 auto;
  max-width: $max-vw;
}

@mixin global-margin-image {
  margin: 0 auto;
  max-width: $wide;
}

@mixin inner-padding-tablet {
  padding: 0 1rem;

  @include mq($from: 768px) {
    padding: 0;
  }
}

@mixin inner-padding-wide {
  padding: 0 1rem;

  @include mq($from: 1280px) {
    padding: 0;
  }
}

@mixin margin-top {
  margin-top: 2rem;

  @include mq($from: tablet) {
    margin-top: 100px;
  }
}

@mixin title-serif {
  font-family: $display-serif;
  @include font-size($large);
  line-height: 1;
  text-transform: initial;
}

@mixin title-sans {
  font-family: $display-sans;
  @include font-size($large);
  line-height: 1;
  text-transform: uppercase;
}

@mixin title-card-sans {
  font-family: $display-sans;
  line-height: 1;
  text-transform: uppercase;
  @include font-size($medium);
}

@mixin title-card-serif {
  font-family: $display-serif;
  line-height: 1;
  text-transform: initial;
}

@mixin subtitle-sans {
  font-family: $display-sans;
  @include font-size($medium);
  line-height: 1;
  text-transform: uppercase;
}

@mixin body {
  font-family: $dignitas;
  @include font-size($body);

  em {
    font-family: $dignitasital;
  }

  strong {
    font-family: $dignitasbold;
  }

  line-height: 1.4;
}

@mixin body-card {
  @include body;
  font-size: $default;
}

@mixin label {
  font-family: $display-sans;
  font-size: $label-default;
  text-transform: uppercase;
}

@mixin label-ulcase {
  font-family: $display-sans;
  font-size: $label-default;
  font-weight: 900;
}

@mixin caption {
  font-family: $dignitas;
  font-size: $caption;

  em {
    font-family: $dignitasital;
  }

  strong {
    font-family: $dignitasbold;
  }
}

@mixin layout-cards {
  display: flex;
  flex-direction: column;

  @include mq($from: tablet) {
    flex-direction: row;
    flex-wrap: wrap;

    .card {
      flex-basis: calc(50% - 1rem);
    }

    .card:nth-child(odd) {
      margin-right: 1rem;
    }

    .card:nth-child(even) {
      margin-left: 1rem;
    }
  }
}

@mixin layout-page-section {
  display: flex;
  flex-direction: column;

  @include mq($from: tablet) {
    flex-direction: row;
  }

  .column-first {
    flex-basis: $column-first;
  }

  .column-second {
    flex-basis: $column-second;
  }
}
