.layout-container {
  margin-top: 100px;
}

// Set padding on smaller viewports.
#block-aventine-notice .field {
      @include inner-padding-wide;
}

.region-header {
  padding: 0 5rem;
}

body.index .layout-content {
    @include global-margin;
}

#block-aventine-breadcrumbs {

}

h1 {
  @include inner-padding-wide;
  margin-bottom: 1rem;
}

.card-body {
  @include inner-padding-tablet;
}

.field-page-page-section {
    @include inner-padding-wide;

}


