body.index .region-content,
body.index-people .region-content,
body.index-news .region-content,
body.index-sof .region-content,
.path-news-features,
.path-news-press-releases .region-content,
.path-attualita-comunicati-stampa .region-content {
  @include mq($from: tablet) {
    margin-top: 5rem;
  }
}

body.index,
body.index-news,
body.index-sof,
.path-news-features,
.path-news-press-releases,
.path-news-video,
.path-attualita-video,
.path-attualita-comunicati-stampa {
  .layout-content {
    @include mq($from: tablet) {
      display: flex;
      flex-wrap: wrap;

      .region-page-title {
        flex-basis: $column-first;
      }

      .region-content {
        flex-basis: $column-second;
      }
    }
  }
}

body.index {
  .region-content {
    @include layout-cards;
  }
}

.views-infinite-scroll-content-wrapper {
  @include layout-cards;
}

// @HACK no longer dependent on infinite scroll wrapper; instead use .cards

.path-attualita-video,
.path-news-video {
  .cards {
    @include layout-cards;
  }
}
