header {
  background: $white;
}

.region-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 0.5rem 1rem;
}

.site-name,
.responsive-menu-block-wrapper .horizontal-menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.horizontal-menu a,
.language a {
  color: $black;
  transition: color 0.22s ease;
}

.site-name a:hover {
  color: $gray;
  transition: color 0.22s ease;
}

.mobile-menu {
  margin-right: auto;
}

.language {
  margin-left: auto;
}

.language ul.links {
  display: flex;
}

.toggle span.label {
  display: none;
}

.horizontal-menu > li {
  margin: 0 1rem;
}

.horizontal-menu > li:first-child {
  margin-left: 0;
}

.horizontal-menu > li:last-child {
  margin-right: 0;
}

.horizontal-menu > li > a {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

@include mq($from: mobile) {
  .region-header {
    justify-content: space-between;
  }

  .main-menu {
    margin-left: auto;
  }

  .language {
    margin: 0;
  }
}
