// Header. Layout.
header {
  background: $white;
  z-index: 501 !important;
}

.header-menu,
.main-menu__utilities,
.language-switcher-language-url {
  display: flex;
  align-items: center;
}

.header-menu {
  justify-content: space-between;
  padding: 0.5rem 0;
}

.header-menu .main-menu {
  display: flex;
}

.header-menu nav {
  display: none;

  @include mq($from: 1075px) {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
  }
}

.hamburger {
  padding: 0;

  @include mq($from: 1075px) {
    display: none;
  }
}

.language li {
  padding-right: 0.5rem;
}

.language li.en {
  position: relative;

  &::after {
    content: "/";
    display: inline-block;
    padding-left: 8px;
  }
}

// Search.
.search {
  display: none;

  @include mq($from: desktop) {
    display: initial;
    margin-left: 1rem;
  }
}

.search a {
  display: block;
  background-repeat: no-repeat;
  text-indent: -9000px;
  vertical-align: top;
  background-image: url(../images/search.svg);
  width: 0.8rem;
  height: 0.8rem;
}

.search a,
.hamburger {
  &:hover {
    transition: opacity 0.22s ease;
    opacity: 0.5;
  }
}

// Hot fixes. Menu states.
// Main menu.
.main-menu li.menu-item {
  margin: 0 1rem;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.main-menu li.menu-item a {
  color: $black;
  transition: color 0.22s ease;
}

.main-menu li.menu-item a:hover {
  color: $gray;
  transition: color 0.22s ease;
}

.main-menu li.menu-item--active-trail a {
  color: $black;
  border-bottom: 1px solid $black;
  padding-bottom: 2px;
  transition: color 0.22s ease;
}

.main-menu li.menu-item--active-trail a:hover {
  color: $gray;
  border-bottom: 1px solid $gray;
  padding-bottom: 2px;
  transition: color 0.22s ease;
}

// Language switcher.
ul.language-switcher-language-url li a {
  color: $black;
  transition: color 0.22s ease;
}

ul.language-switcher-language-url li a:hover {
  color: $gray;
  transition: color 0.22s ease;
}

ul.language-switcher-language-url li.is-active a {
  color: $black;
  border-bottom: 1px solid $black;
  padding-bottom: 2px;
  transition: color 0.22s ease;
}

ul.language-switcher-language-url li.is-active a:hover {
  color: $gray;
  transition: color 0.22s ease;
}

// Site name.
.site-name a {
  color: $black;
  transition: color 0.22s ease;
}

.site-name a:hover {
  color: $gray;
  transition: color 0.22s ease;
}
