$benefit-yellow: #dafc5d;
$benefit-blue: #080d78;

.path-benefit article {
  margin: 2rem 0 2rem 0;
}

.path-benefit {
  .title-container {
    margin: 0 auto;
    max-width: $max-vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }

  .title-container .pre-title {
    @include label;
    color: $benefit-yellow;
    letter-spacing: 0.03rem;
    margin-bottom: 1rem;
  }

  .title-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .title-first {
      display: flex;
      flex-direction: column;
    }
  }

  .title-wrapper {
    .title-first {

      h1,
      div {
        @include title-serif;
        @include font-size(4rem);
        color: $benefit-yellow;
        line-height: 0.8;
      }
    }

    div {
      line-height: 0.5;
    }

    p {
      @include title-serif;
      @include font-size(2.4rem);
      color: $benefit-yellow;
    }
  }
}

.path-benefit header {
  display: none;
}

.path-benefit footer {
  display: none;
}

.path-benefit .layout-container {
  padding-top: 0;
  margin-top: 0;
}

.path-benefit .region-page-title {
  h1 {
    display: none;
  }
}

.path-benefit {
  .title-wrapper {

    h1,
    div {
      @include title-serif;
      @include font-size(5rem);
      color: $benefit-yellow;
      line-height: 0.8;
    }

    div {
      line-height: 0.5;
    }
  }
}

.path-benefit .wrapper-third {

  .wrapper-third-inner {
    margin: 0 auto;
    max-width: $max-vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  background-color: $benefit-yellow;
  color: $benefit-blue;


  .card {
    flex-basis: 50%;
  }

  .card p {
    @include body;
    @include font-size(2.2rem);
    line-height: 1.2;
  }

  .card h2 {
    @include label;
    @include font-size(1.3rem);
  }

  .card:first-child {
    p:nth-child(3) {
      padding-bottom: .5rem;
    }
  }


}

// Positioning
.path-benefit .container-top {
  display: flex;
  flex-direction: column;

  .wrapper-first {
    order: 2;
  }

  .wrapper-second {
    order: 1;
  }

  .wrapper-third {
    order: 3;
  }
}

.path-benefit {
  .wrapper-first {
    display: flex;
    flex-direction: column-reverse;
    // margin: 0 auto;
    // max-width: $max-vw;
  }

  .pane {
    flex-basis: 100%;
  }

  .wrapper-second {
    padding: 3rem;

    .button-group {
      display: flex;
      justify-content: center;

      a:first-child {
        margin-right: 0.5rem;
      }

      a:last-child {
        margin-left: 0.5rem;
      }
    }
  }

  .wrapper-third {
    padding: 3rem;
  }
}

@include mq($from: tablet) {
  .path-benefit {
    .wrapper-first {
      flex-direction: row;
    }
  }
}

.line {
  width: 50px;
  border-top: 3px solid $benefit-yellow;
  line-height: 0;

  padding-bottom: 10px;
}

// Buttons.
.path-benefit .button-group {
  a {
    @include body;
    @include font-size(2.4rem);
    border: 2.5px solid $benefit-yellow;
    color: $benefit-yellow;
    padding: 0.5rem 1.5rem;
    transition: color 0.22s ease;
  }

  a:hover {
    background: $benefit-yellow;
    color: $benefit-blue;
    transition: background-color 0.5s ease;
  }
}

// Background.
.path-benefit {
  background: linear-gradient(3deg, #dafc5d, #080d78);
  background-size: 400% 400%;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 100%;
  }

  50% {
    background-position: 100% 17%;
  }

  100% {
    background-position: 0% 100%;
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 84%;
  }

  50% {
    background-position: 100% 17%;
  }

  100% {
    background-position: 0% 84%;
  }
}

@-o-keyframes AnimationName {
  0% {
    background-position: 0% 84%;
  }

  50% {
    background-position: 100% 17%;
  }

  100% {
    background-position: 0% 84%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 84%;
  }

  50% {
    background-position: 100% 17%;
  }

  100% {
    background-position: 0% 84%;
  }
}

.path-benefit .title-second {
  margin: 0 auto;
  padding: 0 0 0 2rem;
}
