.is-lazy,
.is-responsive {
  // opacity: 0 !important;
  transition: opacity 500ms ease-in-out !important;
}

.is-loaded {
  // opacity: 1 !important;
  transition: opacity 500ms ease-in-out !important;
}

/* Needed to display preloader with CSS BG image, otherwise hidden. */
.is-loaded,
.is-error,
.media--loading.media--background {
  opacity: 1;
}

// turn off the hideous preloader
.media--loading::before {
  display: none !important;
  animation: none !important;
}

.media img {
  background: $light-brown !important;
}

.is-b-loading:not(.is-b-loaded):not([data-animation])::before {
  content: '';
  background: none;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: 0;
  margin-top: 0;
  font-size: 0;
  z-index: initial;
  -webkit-animation: none;
  animation: none;
  opacity: .4;
}

/* Hide for non-js users. */
.is-b-loading::before {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  display: none;
  width: 30px;
  max-width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  content: "";
  background: #2eaae0;
  font-size: 0;
}

/* Only animate when being visible. */
.is-b-loading.is-b-visible::before {
  display: none !important;
}
