#block-aventine-breadcrumbs ol {
  display: flex;
}

#block-aventine-breadcrumbs {
  font-family: $breadcrumbs;
  @include font-size(1.45rem);
  margin-bottom: 0.33rem;
  color: $gray;
}

#block-aventine-breadcrumbs a,
#block-aventine-breadcrumbs li:after {
  transition: color 1s ease;
  font-family: $dignitas;
}

#block-aventine-breadcrumbs li:after {
  content: " \2F";
  padding-right: 5px;
  vertical-align: baseline;
  @include font-size($small);
  font-weight: 900;
}

#block-aventine-breadcrumbs a:hover,
#block-aventine-breadcrumbs li:hover:after {
  color: $black;
}
