#block-aventine-breadcrumbs ol {
  display: flex;
}

#block-aventine-breadcrumbs {
  font-family: $breadcrumbs;
  text-transform: lowercase;
}

#block-aventine-breadcrumbs li {
  color: $gray;
}

#block-aventine-breadcrumbs a {
  color: $gray;
  transition: color 0.22s ease;
}

#block-aventine-breadcrumbs a:hover {
  color: $black;
}

#block-aventine-breadcrumbs li:after {
  content: " \2F";
  padding-right: 5px;
  vertical-align: baseline;
  color: #919191;
}
