.read-more {
  display: block;
  background-repeat: no-repeat;
  text-indent: -9000px;
  vertical-align: top;
  background-image: url(../images/arrow_large_black.svg);
  height: 1.5rem;
}

.news-item.views-row .read-more {
  margin-top: 1.2rem;
}

.path-events-zoom-videos .read-more {
  background-image: url(../images/arrow_small_external.svg);
  height: 2rem;
  margin-top: 1.4rem !important;
}

.path-news-far-afield,
.path-attualita-notizie-recenti,
.path-events-watch,
.path-society-of-fellows-watch {
  .read-more {
    background-image: url(../images/arrow_small_external.svg);
  }
}

// Slideshow buttons.
.slick-prev {
  margin-left: 1rem;
  background-image: url(../images/arrow_large_black_left.svg);
}

.slick-next {
  margin-right: 1rem;
  background-image: url(../images/arrow_large_black_right.svg);
}

.slick-prev,
.slick-next {
  background-repeat: no-repeat;
  text-indent: -8999px;
  color: none;
}

.slick-arrow {
  filter: invert(90%);
  opacity: 0.85;
}

.slick-arrow:hover,
.slick-arrow:hover::before {
  filter: invert(100);
}

// Home page buttons.
.rome-prize-cta .field-page-section-links .field__item:nth-child(2) a {
  border: none;
  padding: 1rem 0 0.1rem 0;
  border-bottom: 1px solid $black;
  &:hover {
    border-bottom: 1px solid $gray;
  }
}

.join-us .field-page-section-links .field__item a {
  padding: 0;
  border: none;
  &:hover {
    border: none;
  }
}

// File links.
.field-page-section-links,
.field-page-section-files {
  .field__item {
    margin-bottom: 1rem;
  }

  .field__item a {
    padding: 1rem 1.5rem;
    border: 1px solid $black;
    display: inline-block;
    @include label;

    &:hover {
      border: 1px solid $gray;
    }
  }
}

.field-press-releases-files {
  display: flex;
  margin-bottom: 2rem;
  .field__item:first-child .field {
    margin-right: 1.5rem;
  }
}

.field-publication-files .field-media-file,
.field-press-releases-files .field-media-file {
  margin-bottom: 1rem;

  .file a {
    border-bottom: 1px solid $black;
    display: inline-block;
    @include label;
    padding-bottom: 0.2rem;

    &:hover {
      color: $gray;
      border-bottom: 1px solid $gray;
    }
  }
}

.field-publications-links {
  .field__item a {
    border-bottom: 1px solid $black;
    display: inline-block;
    @include label;
    padding-bottom: 0.2rem;

    &:hover {
      color: $gray;
      border-bottom: 1px solid $gray;
    }
  }
}

.field-publication-files .field-media-file {
  .file a {
    padding-bottom: 0;
  }
}

.field-publications-links {
  .field__item a {
    padding-bottom: 0;
  }
}

.field-publications-links .field__item:first-child {
  margin-bottom: 0.5rem;
}
