.region-callout .callout-inner {
  background: $green;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;

  @include mq($from: tablet) {
    padding: 5rem;
  }

  .callout {
    // margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }

    @include mq($from: tablet) {
      margin-right: 3rem;
    }
  }

  .callout p,
  a {
    @include body;
  }
}

.news-callout .region-callout .callout-inner {
  h2 {
    @include title-card-serif;
    margin-bottom: 1rem;
  }

  @include mq($from: tablet) {
    flex-direction: row;
    align-items: flex-end
  }
}

.research-callout .region-callout .callout-inner {
  h2 {
    @include label;
    margin-bottom: 1rem;
  }

  .callout {
    margin-bottom: 0;
  }

  @include mq($from: tablet) {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;

    .callout {
      flex-basis: calc(50% - 3rem);
      margin-bottom: 3rem;
    }
  }

  @include mq($from: desktop) {
    .callout {
      flex-basis: calc(25% - 3rem);
    }
  }
}
