.blazy__caption,
.field-media-caption {
  @include caption;
  padding-top: 0.5rem !important;
}

.field-page-image .blazy__caption,
.page-section {
  max-width: $max-vw;
  margin: 0 auto;
  padding: 0 1rem;
}

.society-of-fellows .field-media-caption,
.news-features .field-media-caption {
  max-width: $max-vw;
  margin: 0 auto;
  padding: 0 1rem;
}

.page.wrapper h4 {
  @include caption;
}

.events-body .blazy__caption {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 1rem;
}

.programs .field-media-caption {
  padding: 0 1rem;
  @include mq($from: $jumbotron) {
    padding-left: 0;
    padding-right: 0;
  }
}
