.blazy__caption,
.field-media-caption {
  @include caption;
  padding-top: 0.5rem !important;
}

.field-page-image .blazy__caption,
.page-section {
  max-width: $max-vw;
  margin: 0 auto;
  padding: 0 1rem;
}

.society-of-fellows .field-media-caption,
.news-features .field-media-caption,
.programs .field-media-caption {
  max-width: $max-vw;
  margin: 0 auto;
  padding: 0 1rem;
}

.page.wrapper h4 {
  @include caption;
}

.event-image-wrapper .blazy__caption {
  padding: 0 1rem;
}
