.blazy__caption,
.field-media-caption {
  @include caption;
  padding-top: .5rem !important;
  max-width: 75%;
}

.field-page-image .blazy__caption,
.page-section {
  max-width: $max-vw;
  margin: 0 auto;
  padding: 0 1rem;
}

.news-features .field-media-caption {
  max-width: $max-vw;
  margin: 0 auto;
  padding: 0 1rem;
}
