// Card defaults. Used for most section indices.
.card-image-wrapper,
.card-body {
  display: flex;
  flex-direction: column;
}

.card-body h2 {
  margin: 1rem 0;
}

.card-body .field-news-features-summary,
.card-body .field-page-summary {
  margin: 0 0 1rem 0;
}

.card-inner {
  .datetime {
    @include label;
  }

  h2.title {
    @include title-card-sans;
  }

  h2.title.serif {
    text-transform: initial !important;
    font-family: $display-serif;
  }

  .field>p {
    @include body-card;
  }
}

.card {
  margin-bottom: 4rem;
}

.card:nth-last-child(-n + 1) {
  margin-bottom: 0rem;
}

// Overrides default, news, title.
.index-news,
.path-news-features,
.path-news-video,
.path-attualita-video {
  .card-body {
    h2.title {
      @include title-card-serif;
    }
  }
}

.card-image-wrapper {
  position: relative;
}

// Profiles.
.people h3 .name {
  width: 100%;
  margin-bottom: 0.5rem;
}

.profile {
  position: relative;
  margin-bottom: 2rem;
}

.profile-container {
  display: flex;
  flex-direction: column;
}

.profile .field-media-image {
  img {
    width: 100%;
    // height: auto;
  }
}

@include mq($from: tablet) {
  .profile-container {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1rem;
  }

  .profile {
    flex: 0 1 200px;
  }

  .profile .field-role {}

  .profile .field-media-image {
    img {
      width: auto;
      height: 300px;
    }
  }
}

.card-link {
  font-size: 0;
}

.card-link a span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 490;
}

.people .field-affil-year {
  @include body;
  line-height: 1;
  margin: 0;
  padding: 0;
}

// Card:hover.
.card .card-inner {
  .card-body>*:not(.read-more) {
    color: $black;
    transition: color 0.22s ease;
  }

  .blazy,
  .read-more {
    transition: opacity 0.22s ease;
  }

  .blazy {
    opacity: 1;
  }

  .read-more {
    opacity: 1;
  }
}

.card .card-inner:hover {
  cursor: pointer;

  .card-body>*:not(.read-more) {
    color: $gray;
  }

  .blazy,
  .read-more {
    transition: opacity 0.22s ease;
  }

  .blazy {
    opacity: 0.9;
  }

  .read-more {
    opacity: 0.5;
  }
}

.card-inner {
  position: relative;
}

.field-page-internal-link a span,
.read-more a span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 490;
}

.profile-container .profile {
  h3 {
    margin-top: 0.25rem;
  }

  h3,
  .field-affil-year {
    color: $black;
    transition: color 0.22s ease;
  }

  .field-media-image {
    opacity: 1;
  }
}

.profile-container .profile:hover {
  .blazy {
    opacity: 0.9;
  }

  h3,
  .field-affil-year {
    color: $gray;
    transition: color 0.22s ease;
  }

  .field-media-image {
    opacity: 0.9;
    transition: opacity 0.22s ease;
  }
}

.path-news-features,
.path-news-video,
.path-attualita-video,
.path-attualita-articoli,
.path-attualita-altrove {
  .field-quick-news-published-date {
    margin-top: 1rem;
  }

  .datetime {
    margin-top: 1rem;
  }

  .page-section .body {
    margin-bottom: 1rem;
  }
}

.press-releases .press-release {
  margin-bottom: 5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.press-releases .field-press-date {
  @include label;
}

.press-releases h2 {
  margin-bottom: 1rem;
}

.card .field-program-dates {
  @include label;
  margin-top: 1rem;
}

.path-apply-academic-programs .read-more {
  margin-top: 1.5rem;
}

.path-attualita-notizie-recenti,
.path-news-far-afield {
  .datetime {
    margin-top: 1rem;
  }

  .card-body .body {
    margin-bottom: 1rem;
  }
}

.index-news,
.index-sof {
  .card img {
    width: 100%;
    height: auto;
  }
}

.index-sof .datetime {
  margin-top: 1rem;
}

// Hotfix for publications/* anchor links
.publication.wrapper p>a {
  padding-bottom: 2px;
  border-bottom: 1px solid black;
  color: $black;
  transition: color 0.22s ease;

  &:hover {
    color: $link-hover;
    border-bottom: 1px solid $link-hover;
    transition: color 0.22s ease;
  }

  &:visited {
    color: $gray;
    border-bottom: 1px solid $gray;
  }

  &:visited:hover {
    color: $link-hover;
    border-bottom: 1px solid $link-hover;
  }
}

// Hotfix for width of inline body images
.page-section .media.media--ratio {
  // width: 80% !important;
}

@include mq($from: tablet) {
  .field-page-page-section .column-second figure {
    // Hotfix for width of inline images on events pages
    width: 80%;
  }
}

// @HACK, temporarily add 2023 CSS card to /apply index page
body.index .card.academic-programs {
  .field-program-summary {
    margin-bottom: 1rem;
  }
}

// @HACK, fix spacing between call-to-action buttons on programs inside pages
.programs .field-page-section-files .field__item {
  margin-bottom: 1rem !important;
}

.programs .field-page-section-files {
  margin-top: 0rem !important;
}

// @HACK, temporarily hide daterange field so we don't have to create YAT (yet another template)
.path-apply,
.path-partecipazione {
  .field.field-program-dates.daterange.field__item {
    display: none;
  }
}

.path-news-video,
.path-attualita-video {

  .field-events-event-type,
  .field-events-event-series {
    @include label;
    margin-top: 1rem;
  }
}

.path-attualita-video h2,
.path-news-video h2 {
  padding: 1rem 0;
}

.path-attualita-video,
.path-news-video {

  .card-inner time,
  .card-inner .place {
    font-family: "Dignitas Regular";
    font-size: 1.2rem;
    line-height: 1.4;
    font-size: 1.1rem;
  }

  // .card-inner .field-events-event-dates {
  //   margin-bottom: 1rem;
  // }
}

.path-attualita-video,
.path-news-video {
  .card:hover {
    opacity: 0.9;
  }
}

.path-attualita-video,
.path-news-video {
  .read-more {
    display: block;
    background-repeat: no-repeat;
    text-indent: -9000px;
    background-image: url(../images/arrow_small_external.svg);
    height: 1.5rem;
    margin-top: 1rem;
  }
}

@include mq($until: tablet) {

  .path-news-video .card-inner .field:not(:first-of-type),
  .path-news-video .card-inner h2.title {
    padding-left: 1rem;
  }

  .path-news-video .card-inner .read-more {
    margin-left: 1rem;
  }
}

.path-comunita-personale,
.path-people-staff {

  .profile .department,
  .profile .role {
    @include body;
    line-height: 1;
  }
}

.profile .field-email,
.profile .field-telephone {
  @include body;
}

.profile .field-email {
  margin-bottom: 1rem;
}

.path-comunita-personale,
.path-people-staff {
  img {
    width: 100%;
  }
}

@include mq($until: tablet) {

  .path-comunita-personale,
  .path-people-staff {
    h3 {
      padding-left: 1rem;
    }

    .profile .department,
    .profile .role {
      padding-left: 1rem;
    }
  }
}

.people-staff .profile img {
  width: auto;
  height: 300px;

  @include mq($until: tablet) {
    width: 100%;
    height: auto;
  }
}
