// Card defaults. Used for most section indices.
.card-image-wrapper,
.card-body {
  display: flex;
  flex-direction: column;
}

.card-body h2 {
  margin: 1rem 0;
}

.card-body .field-news-features-summary,
.card-body .field-page-summary {
  margin: 0 0 1rem 0;
}

.card-inner {
  .datetime {
    @include label;
  }

  h2.title {
    @include title-card-sans;
  }

  h2.title.serif {
    text-transform: initial !important;
    font-family: $display-serif;
  }

  .field > p {
    @include body-card;
  }
}

.card {
  margin-bottom: 4rem;
}

.card:nth-last-child(-n + 1) {
  margin-bottom: 0rem;
}

// Overrides default, news, events title.
.index-events,
.index-news,
.path-news-features {
  .card-body {
    h2.title {
      @include title-card-serif;
    }
  }
}

// Overrides events.
.index-events .card {
  position: relative;
}

.event-image-wrapper,
.card-image-wrapper {
  .field-events-canceled {
    @include label;
  }
}

.card-body {
  .field-events-event-type,
  .field-events-event-series {
    @include label;
    margin-top: 1rem;
  }

  .daterange,
  .field-events-rel-places,
  .field-events-event-dates-overrid {
    @include body-card;
  }

  .read-more {
    margin-top: 0.5rem;
  }
}

.event-image-wrapper,
.card-image-wrapper {
  position: relative;
}

.event-image-wrapper .field-events-canceled,
.card-image-wrapper .field-events-canceled {
  position: absolute;
  right: 0;
  padding: 0.5rem 1rem;
  color: $white;
  background-color: $black;
}

.event-image-wrapper .field-events-canceled {
  top: 0;
  max-width: 1380px;
  margin: 0 auto;
}

// Profiles.
.people h3 .name {
  width: 100%;
  margin-bottom: 0.5rem;
}

.profile {
  position: relative;
  margin-bottom: 2rem;
}

.profile-container {
  display: flex;
  flex-direction: column;
}

.profile .field-media-image {
  img {
    width: 100%;
    // height: auto;
  }
}

@include mq($from: tablet) {
  .profile-container {
    flex-direction: row;

    flex-wrap: wrap;
  }

  .profile {
    margin-right: 1rem;
  }

  .profile .field-media-image {
    img {
      width: auto;
      height: 300px;
    }
  }
}

.card-link {
  font-size: 0;
}

.card-link a span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.people .field-affil-year {
  @include body;
  line-height: 1;
  margin: 0;
  padding: 0;
}

// Card:hover.
.card .card-inner {
  .card-body > *:not(.read-more) {
    color: $black;
    transition: color 0.22s ease;
  }

  .blazy,
  .read-more {
    transition: opacity 0.22s ease;
  }

  .blazy {
    opacity: 1;
  }

  .read-more {
    opacity: 1;
  }
}

.card .card-inner:hover {
  cursor: pointer;

  .card-body > *:not(.read-more) {
    color: $gray;
  }

  .blazy,
  .read-more {
    transition: opacity 0.22s ease;
  }

  .blazy {
    opacity: 0.9;
  }

  .read-more {
    opacity: 0.5;
  }

  .field-events-canceled {
    background: $gray;
  }
}

// Events card hover states. This is a hotfix and should be refactored.
body.index-events .card {
  .card-body > *:not(.read-more) {
    color: $black;
    transition: color 0.22s ease;
  }

  .blazy,
  .read-more {
    transition: opacity 0.22s ease;
  }

  .blazy {
    opacity: 1;
  }

  .read-more {
    opacity: 1;
  }
}

body.index-events .card:hover {
  cursor: pointer;

  .card-body > *:not(.read-more) {
    color: $gray;
  }

  .blazy,
  .read-more {
    transition: opacity 0.22s ease;
  }

  .blazy {
    opacity: 0.9;
  }

  .read-more {
    opacity: 0.5;
  }

  .field-events-canceled {
    background: $gray;
  }
}

.card-inner {
  position: relative;
}

.field-page-internal-link a span,
.read-more a span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.profile-container .profile {
  h3 {
    margin-top: 0.25rem;
  }

  h3,
  .field-affil-year {
    color: $black;
    transition: color 0.22s ease;
  }

  .field-media-image {
    opacity: 1;
  }
}

.profile-container .profile:hover {
  .blazy {
    opacity: 0.9;
  }

  h3,
  .field-affil-year {
    color: $gray;
    transition: color 0.22s ease;
  }

  .field-media-image {
    opacity: 0.9;
    transition: opacity 0.22s ease;
  }
}

.path-news-features,
.path-attualita-articoli,
.path-attualita-altrove {
  .field-quick-news-published-date {
    margin-top: 1rem;
  }

  .datetime {
    margin-top: 1rem;
  }

  .page-section .body {
    margin-bottom: 1rem;
  }
}

.press-releases .press-release {
  margin-bottom: 5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.press-releases .field-press-date {
  @include label;
}

.press-releases h2 {
  margin-bottom: 1rem;
}

.card .field-program-dates {
  @include label;
  margin-top: 1rem;
}

.path-apply-academic-programs .read-more {
  margin-top: 1.5rem;
}

.path-news-elsewhere {
  .datetime {
    margin-top: 1rem;
  }

  .body {
    margin-bottom: 1rem;
  }
}

.index-news,
.index-sof {
  .card img {
    width: 100%;
    height: auto;
  }
}

.index-sof .datetime {
  margin-top: 1rem;
}

// Search results.
.search-result {
  margin-bottom: 2rem;
}

.search-result {
  h2 {
    @include title-serif;
    @include font-size(2.2rem);
    padding-bottom: 0.5rem;
  }
  .content-type,
  .type {
    @include label;
    padding-bottom: 0.5rem;
  }

  .search-result__excerpt {
    @include body;
    line-height: 1.2;
  }
  .search-result__event-tags {
    margin-top: 0.5rem;
  }

  .search-result__event-tags li {
    margin-right: 0.5rem;
    color: $gray;
  }

  .search-result__event-tags,
  .search-result__event-tags ul {
    display: flex;
  }
}
