.sliding-popup-bottom {
  background: $light-brown;
  padding: 1rem 0;
  width: 100%;

  @include mq($from: tablet) {
    padding: 3rem 0;
  }
}

.sliding-popup-bottom strong {
  font-family: $tradegothiccond;
  font-size: 1.05rem;
}

.decline-button {
  display: none;
}

.eu-cookie-compliance-buttons {
  margin-top: 1rem;

  button {
    @include label;
    border: 1px solid $gray;
    padding: 1rem 2rem;
    color: $black;
    transition: color 0.22s ease;
  }

  button:hover {
    color: $gray;
  }
}

.popup-content {
  max-width: $max-vw;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;

  @include mq($from: tablet) {
    flex-direction: row;

    .eu-cookie-compliance-buttons {
      flex-basis: 25%;
      margin-top: 0;
    }
  }

  .eu-cookie-compliance-message {
    float: none;
    max-width: 100%;

    @include mq($from: tablet) {
      max-width: 75%;
      flex-basis: 75%;
    }
  }
}

.popup-content p a {
  border-bottom: 1px solid $black;
  color: $black;
  transition: color .22s ease-in-out;
  &:hover {
    color: $gray;
    border-bottom: none;
  }
}
