// Defaults.
.views-exposed-form {
  display: flex;
}

.views-exposed-form div:first-child {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.select2-search__field {
  display: none;
}

// .select2-results__options li:first-of-type {
//   display: none;
// }

// Select2 overrides.
span.select2-selection,
.select2-results__options li {
  @include label;
}

span.select2 {
  border: none;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 100%;
  overflow-y: auto;
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  background-color: $green;
  color: $gray;
}

// Webforms.
// Webform layout.
.webform {
  .region-content {
    margin: 0 auto;
    max-width: $max-vw;
    padding: 0 1rem;
  }

  article .body {
    @include margin-top;
    margin-bottom: 3rem;
    max-width: 100%;

    @include mq($from: tablet) {
      max-width: 50%;
      margin-left: $column-first;
    }
  }

  article .body p {
    @include body;
  }

  h2 {
    @include label;
    margin-bottom: 1rem;
  }

  .webform-section-wrapper {
    margin-bottom: 2rem;
  }

  .form-item {
    display: flex;
    flex-direction: column;

    @include mq($from: tablet) {
      flex-direction: row;

      h2 {
        flex-basis: $column-first;
        padding-top: 8px;
      }

      .webform-section-wrapper {
        flex-basis: $column-second;
      }

      .webform-name--wrapper label {
        display: none;
        margin: 0;
      }
    }
  }

  .webform-actions,
  ul.message-list {
    margin-left: 0;

    @include mq($from: tablet) {
      margin-left: $column-first;
    }
  }

  fieldset.webform-composite-hidden-title {
    margin-top: 0;
    margin-bottom: 0;
  }

  .js-form-item input {
    border: none;
    border-bottom: 1px solid $gray;
    margin-bottom: 1rem;
    @include body;
  }

  textarea {
    @include body;
    width: 100%;
  }

  textarea,
  input {
    margin: 5px 0;
    padding-left: 5px;
    outline: none;
  }

  textarea:focus,
  textarea:active {
    background-color: $green;
    border: 1px solid $black;
  }

  input:focus,
  input:active {
    border-bottom: 1px solid $black;
    background-color: $green;
  }

  input[type="submit"] {
    padding: 1rem 2rem;
    border: 1px solid $gray;
    @include label;
  }

  ul.message-list {
    margin-top: 1rem;
    margin-bottom: 1rem;
    @include body;
    display: flex;
    flex-direction: column;
    // color: red;

    li {
      display: inline-block;
      margin-bottom: 1rem;
    }

    li em {
    }

    li:before {
      content: "–";
      padding-right: 5px;
    }
  }
}

// Discipline, date pickers for people/* pages.
.people-current .form-item select {
  padding: 0.5rem 0.3rem;
}

.ajax-progress-throbber {
  display: none;
}

.ajax-progress .throbber {
  display: none;
}

// No results for discipline, date pickers for people/* pages.
.people-current p.no-results {
  font-family: $display-serif;
  @include font-size(1.4rem);
}

// @HACK, add padding to select list for narrow view ports.
.people-current .views-exposed-form,
.people-current p.no-results {
  @include mq($until: $tablet) {
    padding: 0 1rem;
  }
}

// @Mailchimp styling
input {
  border-radius: 0;
}

.newsletter-inner .mailchimp-signup-subscribe-form .form-actions input {
  color: $black;
}

.home .region-newsletter .newsletter-inner {
  @include mq($until: tablet) {
    padding: 1rem 0rem;
  }
}

.newsletter-inner .mailchimp-signup-subscribe-form {
  display: flex;
  padding: 0 5rem;
  @include mq($until: desktop) {
    padding: 0rem;
  }
  h2 {
    flex-basis: 50%;
    padding-right: 10%;
    @include title-serif;
    @include font-size(2.5rem);
  }
  > div {
    flex-basis: 50%;
    padding-top: 3px;
  }
}

@include mq($until: tablet) {
  .newsletter-inner .mailchimp-signup-subscribe-form {
    flex-direction: column;
    padding: 0 1rem;

    h2 {
      margin-bottom: 1.5rem;
    }
    > div {
      flex-basis: 50%;
      padding-right: 0 !important;
      padding-top: 3px;
    }
  }
}

.mailchimp-signup-subscribe-form .form-item-mergevars-email,
.mailchimp-signup-subscribe-form .form-item-mergevars-fname,
.mailchimp-signup-subscribe-form .form-item-mergevars-lname {
  label {
    font-family: $tradegothic;
    font-size: 0.9rem;
    font-weight: 100;
    input:focus + & {
      letter-spacing: -0.01em;
      // color: red;
    }
  }
  input {
    background-color: transparent;
    font-size: 18px;
    width: 100%;
    &:focus {
      // box-shadow: 0px 3px 4px -2px rgba(0, 0, 115, 0.25) inset;
    }
  }
  margin-bottom: 0.5rem;
}

label[for="edit-gdpr-consent"],
label[for="edit-gdpr-consent"] a {
  font-family: $tradegothic !important;
  font-size: 0.9rem !important;
  font-weight: 100;
}

label[for="edit-gdpr-consent"] a {
  border-bottom: 1px solid $black;
  padding-bottom: 2px;
}

.form-item-gdpr-consent {
  margin: 0.5rem 0;
}

textarea:focus,
input:focus {
  outline: none;
}

.mailchimp-signup-subscribe-form .button {
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  border: 1px solid $black;
  display: inline-block;
  @include label;

  &:hover {
    border: 1px solid $gray;
    cursor: pointer;
    color: $gray;
  }
}

.mailchimp-signup-subscribe-form {
  div[role="alert"],
  div[role="contentinfo"] {
    padding: 0;
  }
}

.mailchimp-signup-subscribe-form {
  div[role="contentinfo"] {
    font-family: $tradegothic;
    font-size: 16px;
    border: 1px solid #ae0909;
    padding: 1rem;
    color: #ae0909;
    text-align: center;
    margin-bottom: 1.5rem;
    em {
      font-style: oblique;
    }
  }
}
