// Events.
.front-events,
.front-news-slideshow {
  .slick {
    max-width: $jumbotron;
    margin: 0 auto;
  }
}

.front-events,
.front-news-slideshow {
  .slide__caption {
    margin: 0 auto;
    max-width: $max-vw;
    padding: 0 1rem;

    @include mq($from: $jumbotron) {
      padding: 0;
    }
  }
}

.front-events .slide__caption {
  display: flex;
  flex-direction: column-reverse;
}

.front-events .slide__description {
  @include label;
}

.front-news-slideshow {
  .slide__description h2 {
    @include title-serif;
    @include font-size(2rem);
  }
  time {
    @include label;
  }
}

.front.events,
.front.news-slideshow {
  .slick {
    .media {
      opacity: 1;
      transition: opacity 0.22s ease;
    }
    .slide__description h2 {
      color: $black;
      transition: color 0.22s ease;
    }
  }
  .slick:hover {
    .media {
      opacity: 0.9;
      transition: opacity 0.22s ease;
    }
    .slide__description h2 {
      color: $gray;
      transition: color 0.22s ease;
    }
  }
}

.front.news-slideshow time,
.front.events .date {
  color: $gray;
}

.front.news-features,
.front.rome-prize,
.front.fellows,
.front.join-us,
.front.residents {
  margin: 3rem auto;
  max-width: $max-vw;

  @include mq($from: tablet) {
    margin: 7rem auto;
  }
}

.front.news-features {
  @include mq($until: wide) {
    padding: 0 1rem;
  }
}

.front.rome-prize {
  padding: 0 1rem;

  @include mq($from: $jumbotron) {
    padding: 0;
  }
}

.front.fellows h2,
.front.fellows header,
.front.residents h2 {
  padding: 0 1rem;

  @include mq($from: $jumbotron) {
    padding: 0;
  }
}

.front.fellows .slick-list,
.front.residents .slick-list {
  padding-left: 1rem;

  @include mq($from: wide) {
    padding: 0;
  }
}

// Rome Prize cta.
.rome-prize-cta {
  display: flex;
  flex-direction: column;

  @include mq($from: tablet) {
    flex-direction: row-reverse;
  }

  .column {
    flex-basis: 50%;
  }
}

.rome-prize-cta h2 {
  @include title-card-sans;
}

.rome-prize-cta h2:first-child {
  margin-top: 0.5rem;

  @include mq($from: tablet) {
    margin-top: 0;
  }
}

.rome-prize-cta h2.subtitle {
  color: $gray;
}

.rome-prize-cta .field-page-page-section {
  margin-top: 2rem;
}

.rome-prize-cta .body p {
  @include body;
  padding-right: 20%;
  margin-bottom: 3rem;
}

.rome-prize-cta img {
  width: 100%;
}

.rome-prize-cta .field-page-section-links {
  display: flex;
  @include label;
}

.rome-prize-cta .field-page-section-links .field__item:first-child {
  margin-right: 2rem;
}

// Join us block.
.front.join-us .join-us {
  display: flex;
  flex-direction: column;

  @include mq($from: tablet) {
    flex-direction: row;

    .column {
      flex-basis: 50%;
    }
  }
}

.front.join-us .front-wrapper {
  padding: 4rem;
  background-color: $green;
}

.front.join-us .join-us .field-page-page-section {
  margin-top: 0;
}

.front.join-us .join-us h2 {
  @include title-serif;
  @include font-size(2.5rem);
  line-height: 1;
  margin-bottom: 3rem;
}

.front.join-us .links .field__item {
  margin-bottom: 1.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.front.join-us .join-us .field__item a {
  @include subtitle-sans;
  @include font-size(1.8rem);
  text-indent: 3rem;
  margin-left: -2.5rem;
  color: $black;
  transition: color 0.22s ease;
}

.front.join-us .join-us .field__item a:before {
  background: url(../images/arrow_large_gray.svg) no-repeat 0 0;
  height: 0.8rem;
  width: 0.8rem;
  content: "";
  margin-top: 3px;
  padding-left: 2.5rem;
  opacity: 1;
  transition: opacity 0.22s ease;
}

.front.join-us .join-us .field__item a:hover {
  color: $gray;
}

.front.join-us .join-us .field__item a:hover:before {
  opacity: 0.5;
}

// Front fellows.
.front.fellows,
.front.residents {
  h2 {
    @include subtitle-sans;
  }
}

.front.residents h2 {
  margin-bottom: 0.5rem;
}

.front.fellows {
  .meet-the-fellows {
    @include body;
    margin-bottom: 0.5rem;
  }

  .meet-the-fellows a:after {
    content: "/";
    padding: 0 0.3rem;
  }

  .meet-the-fellows a:last-child:after {
    content: "";
  }

  .meet-the-fellows a {
    color: $black;
    transition: color 0.22s ease;

    &:hover {
      color: $gray;
    }
  }

  .front.fellows .front-wrapper header {
    margin-bottom: 0.5rem;
  }
}

.front.fellows,
.front.residents {
  .slick__slide {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .portrait-wrapper {
    background: $light-brown;
  }

  .media {
    display: flex;
  }

  .blazy {
    opacity: 1;
    transition: opacity 0.22s ease;
  }

  .title {
    @include label;
    margin-top: 0.25rem;
    color: $black;
    transition: color 22s ease;
  }

  .field-affil-discipline {
    @include body;
    line-height: 1;
    color: $gray;
  }
}

.front.fellows,
.front.residents {
  .slick__slide:hover {
    .blazy {
      opacity: 0.8;
    }
  }
}

.slick__slide {
  position: relative;
}

.more a span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.front.news-features {
  > h2 {
    @include title-card-sans;
  }

  .items {
    display: flex;
    flex-direction: row;
    margin-top: 1.2rem;

    .news-item {
      flex-basis: 33%;
      position: relative;
    }

    time {
      @include label;
      color: $gray;
    }

    h2 {
      @include title-card-serif;
      color: $black;
      transition: color 0.22s ease;
      margin-top: 0.33rem;
      margin-bottom: 1rem;
    }
  }

  .card-link a span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  .news-item:hover {
    h2 {
      color: $gray;
      transition: color 0.22s ease;
    }
  }

  .more-link {
    text-align: right;
    @include label;
    margin-top: 1rem;

    a {
      border-bottom: 1px solid #000;
      padding-bottom: 2px;
      color: #000;
      transition: color 0.22s ease;
    }

    a:hover {
      color: $gray;
      transition: color 0.22s ease;
      border-bottom: 1px solid $gray;
    }
  }
}

@include mq($until: tablet) {
  .front.news-features {
    .items {
      flex-direction: column;
      margin-top: 1.2rem;

      .news-item {
        flex-basis: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      .news-item:first-child {
        margin-top: 0;
      }

      .news-item:last-child {
        margin-bottom: 0;
      }
    }

    h2 {
      margin-top: 0;
    }
  }
}
