// Start carousel
.front-events,
.front-news-slideshow {
  .slick {
    max-width: $jumbotron;
    margin: 0 auto;
  }
}

.front-events,
.front-news-slideshow {
  .slide__caption {
    margin: 0 auto;
    max-width: $max-vw;

    @include mq($from: $jumbotron) {
      padding: 0;
    }
  }
}

.front-events .slide__caption {
  display: flex;
  flex-direction: column-reverse;
}

.front-events .date {
  @include label;
}

.front-events,
.front-news-slideshow {
  .slide__description h2 {
    @include title-serif;
    @include font-size(2.2rem);
    margin-top: 0.25rem;
  }

  time {
    @include label;
  }
}

.front.events,
.front.news-slideshow {
  .slick {
    .media {
      opacity: 1;
      transition: opacity 0.22s ease;
    }

    .slide__description h2 {
      color: $black;
      transition: color 0.22s ease;
    }
  }

  .slick:hover {
    .media {
      opacity: 0.9;
      transition: opacity 0.22s ease;
    }

    .slide__description h2 {
      color: $gray;
      transition: color 0.22s ease;
    }
  }
}

.front.news-slideshow time,
.front.events .date {
  color: $gray;
}

// End carousel

// Start hero carousel overrides + updates
.front.hero-carousel-container {
  max-width: $wide;
  margin: 0 auto;
}

.front.hero-carousel-container {
  .media img {
    width: 100%;
    height: auto;
  }
}

.front.front.hero-carousel-container {
  .media {
    margin-bottom: .75rem;
  }

  h2 {
    font-family: $dignitas;
    @include font-size($large);
  }

  time {
    @include label;

  }

  h2,
  time {
    padding: 0 1rem;

    @include mq($from: wide) {
      padding: 0rem;
    }
  }
}

// End hero carousel overrides

.front.news-features,
.front.rome-prize,
.front.fellows,
.front.join-us,
.front.residents,
.front.leadership,
.front.promo-layout {
  margin: 3rem auto;
  max-width: $max-vw;

  @include mq($from: tablet) {
    margin: 7rem auto;
  }
}

.front.front.promo-layout {
  padding: 0 1rem;

  @include mq($from: wide) {
    padding: 0rem;
  }
}

.front.news-features {
  @include mq($until: wide) {}
}

.front.rome-prize {
  @include mq($from: $jumbotron) {
    padding: 0;
  }
}

.front.fellows h2,
.front.residents h2,
.front.leadership h2 {
  @include mq($from: $jumbotron) {}
}

.front.fellows .slick-list,
.front.residents .slick-list,
.front.leadership .slick-list {


  @include mq($from: wide) {
    padding: 0;
  }
}

// Rome Prize cta.
.rome-prize-cta {
  display: flex;
  flex-direction: column;

  @include mq($from: tablet) {
    flex-direction: row-reverse;
  }

  .column {
    flex-basis: 50%;
  }
}

.rome-prize-cta h2 {
  @include title-card-sans;
}

.rome-prize-cta h2:first-child {
  margin-top: 0.5rem;

  @include mq($from: tablet) {
    margin-top: 0;
  }
}

.rome-prize-cta h2.subtitle {
  color: $gray;
}

.rome-prize-cta .field-page-page-section {
  margin-top: 2rem;
}

.rome-prize-cta .body p {
  @include body;
  padding-right: 20%;
  margin-bottom: 3rem;
}

.rome-prize-cta img {
  width: 100%;
}

.rome-prize-cta .field-page-section-links {
  display: flex;
  @include label;
}

.rome-prize-cta .field-page-section-links .field__item:first-child {
  margin-right: 2rem;
}

// Join us block.
.front.join-us .join-us {
  display: flex;
  flex-direction: column;

  @include mq($from: tablet) {
    flex-direction: row;

    .column {
      flex-basis: 50%;
    }
  }
}

.front.join-us .front-wrapper {
  padding: 4rem;
  background-color: $green;
}

.front.join-us .join-us .field-page-page-section {
  margin-top: 0;
}

.front.join-us .join-us h2 {
  @include title-serif;
  @include font-size(2.5rem);
  line-height: 1;
  margin-bottom: 1rem;
}

.front.join-us .links .field__item {
  margin-bottom: 1.5rem;

  &:last-child {
    margin-bottom: 3rem;
  }
}

.front.join-us .join-us .field__item a {
  @include subtitle-sans;
  @include font-size(1.8rem);
  text-indent: 3rem;
  margin-left: -2.5rem;
  color: $black;
  transition: color 0.22s ease;
}

.front.join-us .join-us .field__item a:before {
  background: url(../images/arrow_large_gray.svg) no-repeat 0 0;
  height: 0.8rem;
  width: 0.8rem;
  content: "";
  margin-top: 3px;
  padding-left: 2.5rem;
  opacity: 1;
  transition: opacity 0.22s ease;
}

.front.join-us .join-us .field__item a:hover {
  color: $gray;
}

.front.join-us .join-us .field__item a:hover:before {
  opacity: 0.5;
}

.front.join-us .page-section .column-second {
  flex-basis: 100% !important;
}

.front.join-us .field-page-section-links .field__item {
  margin-bottom: 1rem;

  @include mq($from: tablet) {
    margin-bottom: 2rem;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

// Front fellows.
.front.fellows,
.front.residents,
.front.leadership {
  h2 {
    @include subtitle-sans;
  }
}

.front.residents h2,
.front.leadership h2 {
  margin-bottom: 0.5rem;
}

.front.fellows {
  .meet-the-fellows {
    @include body;
    margin-bottom: 0.5rem;
  }

  .meet-the-fellows a:after {
    content: "/";
    padding: 0 0.3rem;
  }

  .meet-the-fellows a:last-child:after {
    content: "";
  }

  .meet-the-fellows a {
    color: $black;
    transition: color 0.22s ease;

    &:hover {
      color: $gray;
    }
  }

  .front.fellows .front-wrapper header {
    margin-bottom: 0.5rem;
  }
}

.front.fellows,
.front.residents {
  .slick__slide {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .portrait-wrapper {
    background: $light-brown;
  }

  .media {
    display: flex;
  }

  .blazy {
    opacity: 1;
    transition: opacity 0.22s ease;
  }

  .title {
    @include label;
    margin-top: 0.25rem;
    color: $black;
    transition: color 22s ease;
  }

  .field-role,
  .field-affil-discipline {
    @include body;
    line-height: 1;
    color: $gray;
  }
}

.front.fellows,
.front.residents {
  .slick__slide:hover {
    .blazy {
      opacity: 0.8;
    }
  }
}

.slick__slide {
  position: relative;
}

.more a span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.front.news-features {
  >h2 {
    @include title-card-sans;
  }

  .items {
    display: flex;
    flex-direction: row;
    margin-top: 1.2rem;

    @include mq($from: tablet) {
      gap: 1rem;
    }

    .news-item {
      flex-basis: 33%;
      position: relative;
    }

    time {
      @include label;
      color: $gray;
    }

    h2 {
      @include title-card-serif;
      color: $black;
      transition: color 0.22s ease;
      margin-top: 0.33rem;
      margin-bottom: 1rem;
    }
  }

  .card-link a span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  .news-item:hover {
    h2 {
      color: $gray;
      transition: color 0.22s ease;
    }
  }

  .more-link {
    text-align: right;
    @include label;
    margin-top: 1rem;

    a {
      border-bottom: 1px solid #000;
      padding-bottom: 2px;
      color: #000;
      transition: color 0.22s ease;
    }

    a:hover {
      color: $gray;
      transition: color 0.22s ease;
      border-bottom: 1px solid $gray;
    }
  }
}

@include mq($until: tablet) {
  .front.news-features {
    .items {
      flex-direction: column;
      margin-top: 1.2rem;

      .news-item {
        flex-basis: 100%;
        margin-top: 1rem;
        // margin-bottom: 1rem;
      }

      .news-item:first-child {
        margin-top: 0;
      }

      .news-item:last-child {
        margin-bottom: 0;
      }
    }

    h2 {
      margin-top: 0;
    }
  }
}

// Contains hotfix for front page blocks.
.rome-prize-cta .field-page-page-section .page-section .column-first {
  display: none;
}

.rome-prize-cta .page-section {
  padding-right: 5rem;
  padding-left: 0rem;
}

.rome-prize-cta .page-section .column {
  flex-basis: 100%;
}

.rome-prize-cta .page-section .column-second p {
  margin-bottom: 3rem;
}

.join-us .field-page-section-links .field__item a {
  display: inline;
}

// Disable throbber.
.ajax-progress {
  display: none !important;
}

[dir="rtl"] .ajax-progress {
  display: none !important;
}

.ajax-progress-throbber .throbber {
  display: none !important;
  background: none !important;
}

.ajax-progress-throbber .message {
  display: none !important;
}

/* Full screen throbber */
.ajax-progress-fullscreen {
  display: none !important;
  background-image: none !important;
}

/* refactor leadership carousel */
.front.leadership .leadership-container a {
  position: relative !important;
}

.front.leadership .front-wrapper {
  display: flex;
  gap: 1rem;

  @include mq($until: tablet) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.front.leadership .front-wrapper h3 {
  @include label;
  padding-top: 0.3rem;
}

.front.leadership .front-wrapper .field-role {
  @include body;
  line-height: 1;
  color: $gray;
}

.front.fellows .slick-list {
  padding-left: 0 !important;
}

@include mq($until: wide) {

  .front .slide__description,
  .front.news-features,
  .rome-prize-cta,
  .front.fellows,
  .front.residents,
  .front.leadership {
    padding: 0 1rem;
  }
}

@include mq($until: tablet) {
  .rome-prize-cta .column-second {
    margin-top: .5rem;
  }

  .rome-prize-cta .field-page-page-section {
    margin-top: .75rem;
  }

  .rome-prize-cta .page-section .column-second p {
    margin-bottom: 1.6rem;
  }
}

// issue 599, swiper implementation
.front .swiper.swiper-home-promo-events,
.front .swiper.swiper-home-leadership,
.front .swiper.swiper-home-fellows {
  padding-bottom: 35px !important;
}

.front .swiper.swiper-home-hero {
  padding-bottom: 40px !important;
}

// issue 599, hero hover state

.swiper-slide,
.swiper-slide h2.title {
  opacity: 1;
  transition: opacity .25s ease-in-out;
}

.swiper-slide h2.title,
.swiper-slide time,
{
color: $black;
transition: color .25s ease-in-out;
}

.swiper-slide:hover {
  opacity: .9;

  h2.title,
  time {
    color: $gray;
  }
}

// issue 599, promo events
.front .swiper-home-promo-events {
  max-width: $wide;
  margin: 3rem auto;
}

.front .swiper-home-promo-events .swiper-wrapper {
  // min-height: 300px;
  // height: 320px;

  @include mq($from: tablet, $until: desktop) {
    // min-height: 260px;
    // height: 260px;
  }

  @include mq($until: $narrow) {
    // min-height: 250px;
    // height: 250px;
  }
}

.front .swiper-home-promo-events .swiper-slide {
  background-color: $accent;
  height: auto;
}

.front .swiper-home-promo-events .swiper-wrapper .card-promo {
  background: $accent;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.front .swiper-home-promo-events .swiper-wrapper .card-body .read-more {
  margin-top: 1rem;
}

.front .swiper-home-promo-events .swiper-wrapper .card-body {
  display: flex;
  flex-direction: column;
}

.front .swiper-home-promo-events {

  .card-promo {

    .field-events-event-series,
    .field-events-event-type {
      @include label;
    }

    .field-events-event-dates-overrid,
    .event-location,
    .event-date,
    .event-time {
      @include body;
    }


  }
}

// issue 599, fellows
.front .swiper-home-fellows .swiper-wrapper {
  height: 100%;
  margin-bottom: 1rem;
}

.front .swiper-home-fellows img {
  width: auto;
}

.front .swiper-home-fellows .swiper-slide {
  width: auto !important;
}
