.events #block-aventine-pagetitle,
.events #block-aventine-pagetitle {
  display: none !important;
}

.region-highlighted {
  display: none;
}

.home .site-name a {
  font-size: 2rem;
}

@include mq($until: 680px) {
  body.path-home .site-name {
    flex-basis: 40% !important;
  }

  .home .site-name a {
    font-size: 1.45rem !important;
  }

  .region-highlighted {
    display: none;
  }
}

@include mq($from: 681px, $until: tablet) {
  body.path-home .site-name {
    flex-basis: 50% !important;
  }
}

@include mq($from: tablet) {
  body.path-home .site-name {
    flex-basis: 20%;
  }
}

@include mq($from: desktop) {
  body.path-home .site-name {
    flex-basis: 30%;
  }
}


@include mq($from: wide) {
  body.path-home .site-name {
    flex-basis: 50%;
  }
}


@include mq($until: 1074px) {
  .home .site-name {
    text-align: center;
  }
}

.header-menu {
  align-items: flex-start;
}


body.path-about-mission .site-name a {
  color: #c74c13;
  font-family: $trajan;
}


body.path-about-mission {


  @include mq($until: tablet) {
    .layout-container {
      margin-top: 120px;
    }
  }

  @include mq($from: tablet) {
    .layout-container {
      margin-top: 160px;
    }
  }

  @include mq($from: 680px) {
    .layout-container {
      margin-top: 200px;
    }
  }


  .region-highlighted {
    display: none;
  }

  .site-name a {
    font-size: 3rem;
    line-height: 1;
  }

  @include mq($until: 680px) {
    .site-name {
      flex-basis: 40% !important;
    }

    .site-name a {
      font-size: 2rem;
    }

    .region-highlighted {
      display: none;
    }
  }

  @include mq($from: 681px, $until: tablet) {
    .site-name {
      flex-basis: 50% !important;
    }
  }

  @include mq($from: tablet) {
    .site-name {
      flex-basis: 20%;
    }
  }

  @include mq($from: desktop) {
    .site-name {
      flex-basis: 30%;
    }
  }


  @include mq($from: wide) {
    .site-name {
      flex-basis: 50%;
    }
  }


  @include mq($until: 1074px) {
    .site-name {
      text-align: center;
    }
  }

  .header-menu {
    align-items: flex-start;
  }
}


.field-media-caption {
  padding-left: 1rem;

  @include mq($from: wide) {
    padding-left: 0rem;
  }
}
