.region-header-pre .field p a span {
  color: rgb(255 255 255) !important;
}

.region-header-pre .field a {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 1px;
  color: rgb(255 255 255) !important;
}

.region-header-pre .field a:hover {
  color: rgb(230 241 234) !important;
}
