.events #block-aventine-pagetitle,
.events #block-aventine-pagetitle {
  display: none !important;
}

.region-highlighted {
  display: none;
}

// Add padding to program-summary field on "Classical Summer School" card
.region-content .card-body .field-program-summary {
  margin-bottom: 1rem;
}
