.page-section ul {
  padding-left: 3rem;
  padding-right: 3rem;
}

.page-section li {
  @include body;
  padding-left: 1rem;
  text-indent: -1.5rem;
  padding-bottom: 1rem;

  &:before {
    content: "–";
    margin-right: 1rem;
  }
}

.page-section h3 + ul {
  margin-top: 1rem;
}
