.page-section ul {
  padding-left: 3rem;
  padding-right: 3rem;
}

.page-section li {
  @include body;
  padding-left: 1rem;
  text-indent: -1.5rem;
  padding-bottom: 1rem;

  &:before {
    content: "–";
    margin-right: 1rem;
  }
}

.page-section li a {
  padding-bottom: 2px;
  border-bottom: 1px solid $black;
  color: $black;
  transition: color 0.22s ease;
  &:hover {
    color: $link-hover;
    border-bottom: 1px solid $link-hover;
    transition: color 0.22s ease;
  }
  &:visited {
    color: $gray;
    border-bottom: 1px solid $gray;
  }
  &:visited:hover {
    color: $link-hover;
    border-bottom: 1px solid $link-hover;
  }
}

.page-section h3 + ul {
  margin-top: 1rem;
}
