#block-appeal {
  display: none;
}

#block-aventine-notice {
  background: $black;
}

#block-aventine-notice .field p {
  @include label;
  color: $white;
  padding: .5rem 0;
}

// Appeal modal overrides
.spb-popup-main-wrapper {
  background: $white;
  border: none;
  border-radius: none;
  padding: 5px 3rem;
}

.spb-popup-main-wrapper .notice .field {
  p:first-child {
    @include title-sans;
    @include font-size(3rem);
    font-weight: 100;
    padding: 3rem 0 1rem 0;
    span {
      color: #f26641;
      transition: color .33s ease;
    }
  }

  p:nth-child(2) {
    @include body;
    @include font-size(2rem);
    line-height: 1.2;
    padding-bottom: 3rem;
    color: #808080;
  }

  p:first-child a {
    color: $black;
    transition: color .33s ease;
    &:hover {
      color: #808080
    }
  }

  p:first-child a:hover span {
    color: #808080
  }

  p:nth-child(2) a {
      color: #808080;
      transition: color .33s ease;
      border-bottom: 1px solid #808080;
        &:hover {
        color: $black;
        border-bottom: 1px solid $black;
      }
    }
  }

// Appeal modal, mobile
@include mq($until: mobile) {
  .spb-popup-main-wrapper {
    background: $white;
    border: none;
    border-radius: none;
    padding: 5px 3rem;
    width: 90% !important;
    margin-left: -45% !important;
  }
}

// Override close button.
.spb_close {
  float: none;
  margin: 5px;
  padding: 7px;
}

.spb-controls span.spb_close {
  border: none;
  display: block;
  background-repeat: no-repeat;
  text-indent: -9000px;
  vertical-align: top;
  background-image: url(../images/search-mobile_close.svg);
  height: .8rem;
  opacity: 1;
  &:hover {
    opacity: .8;
    transition: opacity .22s ease;
  }
}
