body.is-open {
  overflow-y: hidden;
  position: fixed;

  .site-name,
  .main-menu__utilities {
    display: none;
  }
}

#overlay.is-closed {
  display: none;
}

#overlay.is-open {
  display: initial;
}

body.mobile {
  #overlay.closed {
    display: none;
  }

  #overlay.is-open {
    background-color: $white;
    z-index: 1000;
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 100%;
    top: 0;
    left: 0;
  }

  #overlay.is-open .flex {
    margin-top: 3rem;
    display: flex;
    width: 30%;
  }

  #overlay.is-open {
    .menu-container {
      margin: 0 auto;
      max-width: 100%;
      width: 100%;
      padding: 0 1rem;
    }
  }

  #overlay.is-open .main-menu {
    display: flex;
    flex-direction: column;
  }

  #overlay.is-open .main-menu li.menu-item {
    margin: 0;
    padding-bottom: 0.5rem;
  }

  #overlay.is-open .logo-wrapper {
    background-image: url(../images/AAR.svg);
    background-repeat: no-repeat;
    text-indent: -9999px;
    min-width: 5rem;
    max-height: 4rem;
    margin-right: 2rem;
    margin-left: 3rem;
  }
}
