body.is-open {
  overflow-y: hidden;
  position: fixed;

  .site-name,
  .main-menu__utilities {
    display: none;
  }
}


#overlay.is-closed {
  display: none;
}

#overlay.is-open {
  display: initial;
}

body.mobile {
  #overlay.closed {
    display: none;
  }

  #overlay.is-open {
    background-color: $white;
    z-index: 1000;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  #overlay.is-open .flex {
    display: flex;
    // justify-content: space-between;
  }

  #overlay.is-open {
    .logo-wrapper {
      // flex-basis: 50%;
    }

    .menu-wrapper {
      // flex-basis: 50%;
    }
  }

  #overlay.is-open .logo-wrapper {
    // background-image: url(../images/AAR.svg);
    // background-repeat: no-repeat;
    // text-indent: -9999px;
    // height: 4rem;
  }

  #overlay.is-open .menu {
    // display: flex;
    // flex-wrap: wrap;
  }

  #overlay.is-open .menu-item {
    // width: 50%;
  }

  #overlay.is-open li.menu-item {
    // margin-bottom: 0.5rem;
  }

}
