body.page {
  .field-page-image,
  .field-page-video {
    margin: 0 auto;
    max-width: $jumbotron;
  }
}

.field-page-page-section {
  @include margin-top;
}

.field-page-page-section .field__item:last-child {
  margin-bottom: 0;
}

.page-section {
  display: flex;
  flex-direction: column;

  @include mq($from: tablet) {
    flex-direction: row;

    .column-first {
      flex-basis: $column-first;
    }

    .column-second {
      flex-basis: $column-second;
    }
  }
}

.page-section h2.subtitle {
  @include subtitle-sans;
  padding-right: 2rem;
  margin-bottom: 1rem;
}

@include mq($from: tablet) {
  .page-section .column-second {
    padding-right: 20%;
  }
}

.page-section .column-second {
  display: flex;
  flex-direction: column;
}

.page-section .column-second p {
  @include body;
}

.page-section .column-second p {
  margin-bottom: 1rem;
}

.page-section .column-second p:last-child {
  margin-bottom: 0;
}

.page-section .column-second h3 {
  @include label;
}

// Events.
body.events .field-events-event-series,
body.events .field-events-event-type {
  @include label;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

body.events h1 {
  margin-bottom: 1rem;
}

.events-detail {
  .daterange,
  .field-events-event-dates-overrid p {
    @include body;
    margin-bottom: 1rem;
  }

  .field-events-rel-places {
    margin-bottom: 2rem;
  }
}

body.events {
  .blazy img {
    width: 100%;
  }
}

// News features.
body.news-features {
  .field-news-features-byline,
  .datetime {
    @include body;
    line-height: 1;
  }

  .page-section {
    @include margin-top;
  }
}

// Profile.
.people .region-content {
  max-width: $max-vw;
  margin: 0 auto;
  padding-top: 1rem;
}

.people .region-content .profile.wrapper {
  margin-right: 0;
}

.people .region-content .column-second {
  padding: 0 1rem;
}

@include mq($from: tablet) {
  .people .region-content .column-first {
    padding-left: 1rem;
    padding-right: 0;
    margin-right: 1rem;
  }

  .column-second {
    padding: 0 !important;
  }

  .field-people-project-description,
  .field-people-biographical-note {
    padding-right: 20%;
  }
}

.profile.wrapper {
  .columns {
    display: flex;
    flex-direction: column;

    @include mq($from: tablet) {
      flex-direction: row;

      .column-first {
        flex-basis: $column-first;
      }

      .column-second {
        flex-basis: $column-second;
      }
    }
  }

  img {
    width: 100%;
  }
}

.profile.wrapper {
  h2 {
    @include title-card-sans;
    margin-top: 1rem;
    margin-bottom: 1rem;

    @include mq($from: tablet) {
      margin-top: 0;
    }
  }

  .field-people-affiliations .field__item {
    @include body;
    line-height: 1.2;
  }

  .field-people-affiliations {
    margin-bottom: 1rem;
  }

  .field .field__label {
    @include label-ulcase;
  }

  .field-people-professions,
  .field-people-project-title,
  .field-people-project-description p,
  .field-people-biographical-note p {
    @include body;
    line-height: 1.4;
    margin-bottom: 1rem;
  }
}

.profile.wrapper .column-first .field-people-portrait {
}

// Publications.
.publications > div {
  margin-bottom: 4rem;
}

.publications > div:last-of-type {
  margin-bottom: 0;
}

.publication.wrapper {
  margin-right: 0;
  margin-bottom: 3rem;

  .columns {
    display: flex;
    flex-direction: column;

    @include mq($from: tablet) {
      flex-direction: row;

      .column-first {
        flex-basis: $column-first;
      }

      .column-second {
        flex-basis: $column-second;
      }
    }
  }

  img {
    width: 100%;
  }
}

.publication.wrapper {
  h2 {
    @include title-card-serif;
    margin-top: 1rem;
    margin-bottom: 1rem;

    @include mq($from: tablet) {
      margin-top: 0;
    }
  }

  .field.field__item {
    margin-bottom: 0 !important;
  }

  .field.field__item,
  .field.field__item p {
    @include body;
    line-height: 1.4;
    margin-bottom: 1rem;
  }

  .body {
    margin-top: 1rem;
  }
}

@include mq($from: tablet) {
  .publication.wrapper .column-first {
    padding-right: 1rem;
  }
}

// Resources.
.page-section.resources {
  @include layout-page-section;
}

.page-section.resources h3 {
  @include title-card-sans;
  @include font-size($small);
}

.page-section.resources .resource-title {
  @include label;
  text-transform: initial;
}

.page-section.resources {
  margin-bottom: 2rem;
}

.page-section.resources .resource {
  margin-bottom: 1rem;
}

.page-section.resources:last-child,
.page-section.resources .resource:last-child {
  margin-bottom: 0;
}

.programs .page-section {
  @include margin-top;
}

.programs .field-page-section-files {
  margin-top: 1rem;

  .field__item {
    margin-bottom: 3rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.programs .field-program-image {
  margin: 0 auto;
  max-width: $jumbotron;

  img {
    width: 100%;
  }
}

.field-program-image {
  .field-media-image {
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
    background: white;
    position: relative;
    background-color: #f8faf5;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: auto;
      height: 100%;
    }
  }
}

.society-of-fellows .field-media-image,
.news-features .field-media-image {
  margin: 0 auto;
  max-width: $jumbotron;

  img {
    width: 100%;
  }
}

.news-features .page.extended {
  .summary-wrapper {
    margin: 0 auto 1rem 0;
    max-width: $max-vw;
    padding: 0 1rem;
  }

  .field-news-features-byline {
    display: flex;
    margin-top: 1rem;

    .field__label {
      margin-right: 4px;
    }
  }

  .field-news-features-byline p,
  .field-news-features-summary p {
    @include body;
  }

  .page-section.wrapper {
    @include margin-top;
  }

  .page-section {
    margin-top: 0;
  }

  .image-wrapper {
    margin-bottom: 1rem;
  }
}

@include mq($from: tablet) {
  .news-features .page-section .column-second,
  .society-of-fellows .page-section .column-second {
    padding-right: 20% !important;
  }
}

.news-features .page-section,
.society-of-fellows .page-section {
  @include margin-top;
}

.field-page-section-files,
.field-page-section-links {
  a {
    color: $black;
    transition: color 0.22s ease;
  }

  a:hover {
    color: $gray;
  }
}

.path-research-library-about,
.path-ricerca-biblioteca-sulla-collezione {
  .field-page-section-files {
    margin-top: 1rem;

    > .field__item:not(:first-child) {
      margin-top: 3rem;
    }
  }
}

.path-research-resources-tutorials,
.path-ricerca-risorse-tutorial-di-ricerca {
  .field-page-section-files {
    margin-top: 1rem;

    > .field__item:not(:first-child) {
      margin-top: 3rem;
    }
  }
}

.publications .column-second .publication.wrapper {
}

// Support buttons
.path-sostegno-fondo-annuale,
.path-support-annual-fund {
  .field__items .field__item:nth-child(3) .page-section {
    .column-second .field {
      padding-top: 1.3rem;
    }
  }
}
.path-sostegno-beneficio-virtuale,
.path-support-virtual-benefit {
  .field__items .field__item:nth-child(4) .page-section {
    .column-second .field {
      padding-top: 1.3rem;
    }
  }
}

.path-sostegno-iscriviti-e-rinnova,
.path-support-join-renew {
  .field__item:nth-child(3) .page-section {
    .field-page-section-files {
      .field__item:nth-child(2) {
        padding-top: 3rem;
      }
    }
  }
}

.path-sostegno-iscriviti-e-rinnova,
.path-support-join-renew {
  .field__item:nth-child(3) .page-section {
    padding-top: 2rem;
  }
}

.path-sostegno-iscriviti-e-rinnova,
.path-support-join-renew {
  .field__item:nth-child(4) .page-section {
    padding-top: 2rem;
  }
}

.path-sostegno-iscriviti-e-rinnova,
.path-support-join-renew {
  .field__item:nth-child(7) .page-section {
    padding-top: 2rem;
  }
}

.path-sostegno-iscriviti-e-rinnova,
.path-support-join-renew {
  .field__item:nth-child(4) .page-section {
    padding-top: 2rem;
  }
}

.path-sostegno-iscriviti-e-rinnova,
.path-support-join-renew {
  .field__item:nth-child(5) .page-section {
    padding-top: 2rem;
  }
}

.path-sostegno-iscriviti-e-rinnova,
.path-support-join-renew {
  .field__item:nth-child(6) .page-section {
    padding-top: 2rem;
  }
}

.path-sostegno-iscriviti-e-rinnova,
.path-support-join-renew {
  .field__item:nth-child(7) .page-section {
    .field-page-section-links {
      padding-top: 1.25rem;
    }
  }
}

.path-sostegno-mckim-medal-gala,
.path-support-mckim-medal-gala {
  .field__item:nth-child(4) .page-section {
    .field-page-section-links {
      padding-top: 1.25rem;
    }
  }
}

.path-sostegno-new-york-gala,
.path-support-new-york-gala {
  .field__item:nth-child(4) .page-section {
    .field-page-section-links {
      padding-top: 1.25rem;
    }
  }
}

.path-sostegno-prossime-donazioni,
.path-support-planned-giving {
  .field__item:nth-child(2) .page-section {
    .field-page-section-links {
      padding-top: 1.25rem;
    }
  }
}

.path-sostegno-azienda,
.path-support-corporate {
  .field__item:nth-child(3) .page-section {
    .field-page-section-links {
      padding-top: 1.25rem;
    }
  }
}

.path-sostegno-azienda,
.path-support-corporate {
  .field__item:nth-child(2) .page-section {
    .field-page-section-files {
      .field__item:first-child {
        padding-top: 2rem;
      }

      .field__item:nth-child(2) {
        padding-top: 3rem;
      }
    }
  }
}

.path-sostegno-azienda,
.path-support-corporate {
  .field__item:nth-child(3) .page-section {
    padding-top: 4rem;
  }
}
