body.page {
  .field-page-image {
    margin: 0 auto;
    max-width: $jumbotron;
  }
}

.field-page-page-section {
  @include margin-top;
}

.field-page-page-section .field__item {
  margin-bottom: 2rem;
}

.field-page-page-section .field__item:last-child {
  margin-bottom: 0;
}

.page-section {
  display: flex;
}

.page-section .column-first {
  flex-basis: $column-first;
}

.page-section .column-second {
  flex-basis: $column-second;
}

.page-section h2.subtitle {
  @include subtitle-sans;
  padding-right: 2rem;
  margin-bottom: 1rem;
}

@include mq($from: tablet) {
  .page-section .column-second {
    padding-right: 20%;
  }
}

.page-section .column-second {
  display: flex;
  flex-direction: column;
}

.page-section .column-second p {
  @include body;
}

.page-section .column-second p {
  margin-bottom: 1rem;
}

.page-section .column-second p:last-child {
  margin-bottom: 0;
}

.page-section .column-second h3 {
  @include label;
}

// Events.
body.events .field-events-event-series,
body.events .field-events-event-type {
  @include label;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.events-detail {

  .daterange {
    @include body;
    margin-bottom: 1rem;
  }

  .field-events-rel-places {
    margin-bottom: 2rem;
  }
}

// Resources.
.page-section.resources {
  @include layout-page-section;
}

// News features.
body.news-features {

  .field-news-features-byline,
  .datetime {
    @include body;
    line-height: 1;
  }

  .page-section {
    @include margin-top;
  }
}
