.search-page,
.path-events {
  ul.pager__items {
    @include body;
    display: flex;
    justify-content: center;
    margin: 1rem 0 0;

    li {
      margin-right: 1rem;
    }

    li a {
      display: inline-block;
      position: relative;
      z-index: 1;
      padding: 10px;
      margin: -10px;
      color: $black;
      @include font-size(1.4rem);
      transition: color 0.22s ease;
      &:hover {
        color: $gray;
        transition: color 0.22s ease;
      }
    }
  }
}

ul.pager {
  text-align: right;

  a {
    @include label;
    border-bottom: 1px solid $black;
    transition: color 0.22s ease;

    &:hover {
      color: $gray;
      border-bottom: none;
    }
  }
}

.path-events {
}
