body.page {
  .field-page-image,
  .field-page-video {
    margin: 0 auto;
    max-width: $jumbotron;
  }
}

.page-title {
  margin-bottom: 1rem;
}

.index-events .page-title {
  margin-bottom: 0rem;
}

.field-page-page-section {
  @include margin-top;
}

.field-page-page-section > .field__item {
  margin-bottom: 3rem;
}

.field-page-page-section > .field__item:last-child {
  margin-bottom: 0;
}

.page-section {
  display: flex;
  flex-direction: column;

  @include mq($from: tablet) {
    flex-direction: row;

    .column-first {
      flex-basis: $column-first;
    }

    .column-second {
      flex-basis: $column-second;
    }
  }
}

.page-section h2.subtitle {
  @include subtitle-sans;
  padding-right: 2rem;
  margin-bottom: 1rem;
}

@include mq($from: tablet) {
  .page-section .column-second {
    padding-right: 20%;
  }
}

.page-section .column-second {
  display: flex;
  flex-direction: column;
}

.page-section .column-second p {
  @include body;
}

.page-section .column-second p {
  margin-bottom: 1rem;
}

.page-section .column-second p:last-child {
  margin-bottom: 0;
}

.page-section .column-second h3 {
  @include label;
}

// News features.
body.news-features {
  .field-news-features-byline,
  .datetime {
    @include body;
    line-height: 1;
  }

  .page-section {
    @include margin-top;
  }
}

// Profile.
.people .region-content {
  max-width: $max-vw;
  margin: 0 auto;
  padding-top: 1rem;
}

.people .region-content .profile.wrapper {
  margin-right: 0;
}

.people .region-content .column-second {
  padding: 0 1rem;
}

@include mq($from: tablet) {
  .people .region-content .column-first {
    padding-left: 1rem;
    padding-right: 0;
    margin-right: 1rem;
  }

  .column-second {
    padding: 0 !important;
  }

  .field-people-project-description,
  .field-people-biographical-note {
    padding-right: 20%;
  }
}

.profile.wrapper {
  .columns {
    display: flex;
    flex-direction: column;

    @include mq($from: tablet) {
      flex-direction: row;

      .column-first {
        flex-basis: $column-first;
      }

      .column-second {
        flex-basis: $column-second;
      }
    }
  }

  img {
    width: 100%;
  }
}

.profile.wrapper {
  h2 {
    @include title-card-sans;
    margin-top: 1rem;
    margin-bottom: 1rem;

    @include mq($from: tablet) {
      margin-top: 0;
    }
  }

  .field-people-affiliations .field__item {
    @include body;
    line-height: 1.2;
  }

  .field-people-affiliations {
    margin-bottom: 1rem;
  }

  .field .field__label {
    @include label-ulcase;
    line-height: 2;
  }

  .field-people-professions,
  .field-people-project-title,
  .field-people-project-description p,
  .field-people-biographical-note p {
    @include body;
    margin-bottom: 1rem;
  }
}

// Publications.
.publications > div {
  margin-bottom: 4rem;
}

.publications > div:last-of-type {
  margin-bottom: 0;
}

.publication.wrapper {
  margin-right: 0;
  margin-bottom: 3rem;

  .columns {
    display: flex;
    flex-direction: column;

    @include mq($from: tablet) {
      flex-direction: row;

      .column-first {
        flex-basis: $column-first;
      }

      .column-second {
        flex-basis: $column-second;
      }
    }
  }

  img {
    width: 100%;
  }
}

.publication.wrapper {
  h2 {
    @include title-card-serif;
    margin-top: 1rem;
    margin-bottom: 1rem;

    @include mq($from: tablet) {
      margin-top: 0;
    }
  }

  .field.field__item {
    margin-bottom: 0 !important;
  }

  .field.field__item,
  .field.field__item p {
    @include body;
    line-height: 1.4;
    margin-bottom: 1rem;
  }

  .body {
    margin-top: 1rem;
  }
}

@include mq($from: tablet) {
  .publication.wrapper .column-first {
    padding-right: 1rem;
  }
}

// Resources.
.page-section.resources {
  @include layout-page-section;
}

.page-section.resources h3 {
  @include title-card-sans;
  @include font-size($small);
}

.page-section.resources .resource-title {
  @include label;
  text-transform: initial;
}

.page-section.resources {
  margin-bottom: 2rem;
}

.page-section.resources .resource {
  margin-bottom: 1rem;
}

.page-section.resources:last-child,
.page-section.resources .resource:last-child {
  margin-bottom: 0;
}

.programs .page-section {
  @include margin-top;
}

.programs .field-page-section-files {
  margin-top: 1rem;

  .field__item {
    margin-bottom: 3rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.programs .field-program-image {
  margin: 0 auto;
  max-width: $jumbotron;

  img {
    width: 100%;
  }
}

.field-program-image {
  .field-media-image {
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
    background: white;
    position: relative;
    background-color: #f8faf5;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: auto;
      height: 100%;
    }
  }
}

.news-features .page.extended {
  .summary-wrapper {
    margin: 0 auto 1rem 0;
    max-width: $max-vw;
    padding: 0 1rem;
  }

  .field-news-features-byline {
    display: flex;
    margin-top: 1rem;

    .field__label {
      margin-right: 4px;
    }
  }

  .field-news-features-byline p,
  .field-news-features-summary p {
    @include body;
  }

  .page-section.wrapper {
    @include margin-top;
  }

  .page-section {
    margin-top: 0;
  }

  .image-wrapper {
    margin-bottom: 1rem;
  }
}

@include mq($from: tablet) {
  .news-features .page-section .column-second,
  .society-of-fellows .page-section .column-second {
    padding-right: 20% !important;
  }
}

.news-features .page-section,
.society-of-fellows .page-section {
  @include margin-top;
}

.field-page-section-files,
.field-page-section-links {
  a {
    color: $black;
    transition: color 0.22s ease;
  }

  a:hover {
    color: $gray;
  }
}

// Image tweak for For the Ages layout
.extended {
  img {
    max-width: 100% !important;
    height: auto;
    width: auto;
  }
}

// News feature metadata
.news-features {
  .field-news-features-byline,
  .field-news-features-date {
    max-width: $max-vw;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .field-news-features-date {
    padding: 0 1rem;
  }

  .field-news-features-byline {
    display: flex;
    .field__label {
      margin-right: 0.25rem;
    }
  }
  .field-news-features-byline,
  .field-news-features-date {
    font-family: $dignitas !important;
    @include font-size($body !important);
    text-transform: initial !important;
  }

  .field-news-features-date {
    padding-bottom: 1rem !important;
  }
}

// Fixes for inline images.
.page .media-wrapper--blazy,
.events .media-wrapper--blazy,
.news-features .media-wrapper--blazy {
  max-width: 80%;
}

.page .media-wrapper--video {
  max-width: 100%;
}

.page figure .media-wrapper--blazy,
.events figure .media-wrapper--blazy,
.news-features .media-wrapper--blazy {
  max-width: 100%;
}

body.page .inline-logo img,
body.events .inline-logo img,
body.news-features .inline-logo img {
  width: initial;
  max-width: 250px;
}

.news-features .column-second .field-media-image {
  margin-top: 1rem;
}

@include mq($until: tablet) {
  .page .media-wrapper--blazy,
  .page .media-wrapper--video,
  .events .media-wrapper--blazy,
  .news-features .media-wrapper--blazy {
    max-width: 100%;
  }
}

// For the ages.
.path-news-features-ages .page.extended .field__item {
  margin-bottom: 1rem;
}

/* Events refactoring
   Includes support for new event page template,
   filters, and accordion functionality */

/* Events index positioning */
.path-events .region-page-title {
  max-width: initial;
  margin: initial;
  padding: initial;
}

.path-events .title-container {
  margin: 0 auto 2rem auto;
  max-width: $max-vw;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.path-events .event-menu a {
  font-family: $tradegothic;
  color: $black;
  border-bottom: 1px solid $gray;
  padding-bottom: 2px;
  font-weight: 100;
  transition: color 0.33s ease-in-out;
  &:hover {
    color: $gray;
    border-bottom: none;
  }
}

.path-events .events-container {
  max-width: $max-vw;
  margin: 0 auto;
}

.path-events .region-content-pre {
  padding-left: 1rem;
}

@include mq($until: tablet) {
  .path-events {
    .region-content-pre {
      padding-left: 1rem;
    }
    .region-content-pre {
      margin-bottom: 2rem;
    }
  }
}

.path-events .events-container {
  display: flex;

  @include mq($until: tablet) {
    flex-direction: column;
    gap: 0rem;
  }
  .region-content-pre {
    flex-basis: calc(30% - 1.3rem);
  }
  .region-content {
    flex-basis: 70%;
  }
  .row-first {
    margin-bottom: 2rem;
  }
  .event-description {
    margin-top: 2rem;
    @include mq($until: tablet) {
      padding: 0 1rem;
    }
  }
  .event-body {
    padding-right: 10%;
    margin-bottom: 2rem;
  }
  .row-fourth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
}

/* Events index styling */
.path-events .events-container {
  .field__item,
  .field-events-rel-places,
  .event-body p {
    font-family: $display-serif !important;
    em {
      font-family: $dignitasital;
    }
  }
  .field-events-event-dates,
  .field-events-rel-places,
  .field-events-event-series,
  .field-events-event-type,
  .event-body p {
    @include font-size($medium);
    line-height: 1.1;
  }
  .field-events-event-dates {
    font-family: $dignitas;
  }
  h2 {
    @include font-size(3.2rem);
    line-height: 1;
  }
  .blazy {
    padding-top: 2rem;
  }
  @include mq($until: tablet) {
    .blazy {
      padding-top: 0;
    }
  }
  .field-events-event-series,
  .field-events-event-type {
    color: $gray;
  }
  .more-info,
  .register {
    font-family: $tradegothic;
    display: inline;
  }
  .more-info {
    @include font-size(1.4rem);
    margin-left: auto;
  }
  .register {
    @include font-size(1.4rem);
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .register a {
    padding: 0.675rem 1rem;
    border: 2px solid $black;
    color: $black;
  }
  .register a:first-child {
    margin-bottom: 1rem;
  }
  .more-info:after {
    content: "→";
  }
}

@include mq($until: tablet) {
  .path-events .events-container {
    .register {
      border: 1px solid $black;
    }
  }
}

/* Events index accordion */
.path-events {
  .ac {
    border-top: 2px solid lightgray;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-top: 0; // override default styling
  }

  .ac .ac-panel {
    padding-top: 0;
  }

  .ac-trigger,
  .ac-panel {
    padding: 1.5rem;
    @include mq($until: tablet) {
      padding: 1rem;
    }
  }

  .ac-trigger {
    padding: 1.5rem 1.5rem 0rem 1.5rem;
    @include mq($until: tablet) {
      padding: 1rem;
    }
  }
  .ac-panel {
    @include mq($until: tablet) {
      padding: 0rem;
    }
  }
}

@include mq($until: tablet) {
  .path-events {
    .ac {
      border-top: 1px solid $gray;
    }
    // .ac:first-of-type {
    //   border: none;
    // }
  }
}

/* Event detail page, positioning */
.events .region-content article {
  max-width: 1290px;
  margin: 0 auto;
}

.event-container .media img {
  width: 100%;
}

.event-container .grid-parent {
  display: grid;
  grid-template-columns: 60% 40%;

  .grid-item {
    grid-area: auto / auto;
  }

  .grid-item-1 {
    grid-row: 1 / 10;
  }
}

.event-container .event-header {
  max-width: $max-vw;
  margin: 0 auto;
  padding: 0 1rem;
}
.event-container .row-second {
  padding: 0 5% 0 13.5%;
  margin: 3rem 0 1rem 0;
}

.event-container .row-second .field-events-more-info p {
  padding-bottom: 0rem !important;
}

.event-container .col-right time {
  font-family: $dignitas;
}

@include mq($until: tablet) {
  .event-container .grid-parent {
    grid-template-columns: 100%;
    grid-template-columns: 1fr;

    .grid-item {
      grid-template-columns: 100%;
    }
    .grid-item-1.event-body {
      grid-row: auto;
      order: 5;
    }
    .grid-item-2.event-dates {
      order: 1;
    }
    .grid-item-3.event-location {
      order: 2;
    }
    .grid-item-4.event-register {
      order: 3;
    }
    .grid-item-5.event-security {
      order: 6;
    }
    .grid-item-6.event-more-info {
      order: 4;
    }
    .grid-item-7.event-more-info {
      order: 4;
    }
    .grid-item-9.event-sponsorship {
      order: 9;
    }

    .event-container .row-second {
      padding: 0 1rem;
    }
  }
}

/* Event detail, first row, styling. */
.event-container {
  .event-header {
    margin-top: 2rem;
  }
  .row-first {
    .daterange,
    .field-events-rel-places,
    .field-events-event-series,
    .field-events-event-type {
      font-family: $dignitas;
      @include font-size(1.45rem);
      line-height: 1.1;
    }
    .field-events-rel-places {
      margin-bottom: 2rem;
    }
    .field-events-event-series,
    .field-events-event-type {
      color: $gray;
    }
    h1 {
      @include font-size(3.2rem);
      line-height: 1;
      margin-bottom: 1.75rem;
      padding-right: 10vw;
    }
  }

  .blazy__caption--media-caption {
    padding-left: 1rem;
    padding-right: 30%;
  }
  .event-body p {
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0rem;
    }
  }
  .event-body {
    padding-right: 10%;
  }
  .col-right time,
  .col-right p,
  .col-right a,
  .col-right .field-events-rel-places {
    color: rgb(42, 42, 42);
  }
  .col-right a {
    border-bottom: 1px solid rgb(42, 42, 42);
  }
  .body p {
    @include font-size(1.45rem);
    font-family: $dignitas;
    line-height: 1.4;
    em {
      font-family: $dignitasital;
    }
  }
  .body hr {
    margin: 2rem 0;
  }
  h3 {
    @include font-size(1.3rem);
    color: $gray;
    margin-bottom: 0.33rem;
  }
  h3 + p {
    margin-bottom: 1.5rem !important;
  }
  h3:first-of-type {
    padding-top: 0;
  }
  .event-dates {
    margin-top: 4px;
    color: rgb(42, 42, 42);
  }
  .field-events-sponsorship {
    @include font-size(1.2rem);
    font-family: $dignitas;
    line-height: 1.4;
  }
  .grid-item {
    margin-bottom: 2rem;
    line-height: 1.4;
  }
  .grid-item .field__label,
  .related-group h2 {
    font-family: $tradegothic;
    @include font-size(0.925rem);
    font-weight: 400;
    color: $black;
  }
  .grid-item .field__item p,
  .grid-item .field .field__item time,
  .grid-item .place-title,
  .grid-item .field__item {
    font-family: $dignitas;
    @include font-size(1.25rem);
  }
  .field-events-more-info a {
    border-bottom: 1px solid $black;
    display: inline;
  }
  time {
    @include font-size(1rem);
  }
  .grid-item.col-right p {
    padding-bottom: 1rem;
    &:last-child {
      padding-bottom: 0rem;
    }
  }
}

@include mq($until: tablet) {
  .event-container {
    .row-first .column-first,
    .blazy__caption--media-caption {
      padding-right: 0rem;
      padding-left: 1rem;
    }
    .row-first {
      margin-bottom: 1.25rem;
    }
    .row-first .field-events-rel-places {
      margin-bottom: 1rem;
    }
    .row-first h1 {
      // margin-bottom: 1.25rem;
      padding-right: 10%;
    }
    .row-second {
      margin-top: 1rem;
      padding: 0 1rem;
    }
    .row-second .body hr {
      margin: 1.25rem 0rem;
    }
    .grid-item {
      margin-bottom: 1.25rem;
    }
    .grid-item .field__label {
      margin-bottom: 0;
    }
    .event-body {
      padding-right: 0rem;
    }
  }
}

.related-container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 5% 0 13.5%;
  @include mq($until: tablet) {
    padding: 1rem;
  }

  .block-title {
    font-family: $dignitas;
    @include font-size($medium);
    margin-bottom: 2rem;
    border-top: 1px solid $gray;
    padding-top: 3rem;
  }
  .related-group {
    display: flex;
    justify-content: stretch;
    @include mq($until: tablet) {
      flex-direction: column;
    }
  }
  .related-group .views-element-container {
    flex-basis: 25%;
    margin-right: 5%;
    @include mq($until: tablet) {
      flex-basis: 100%;
      border-bottom: 1px solid $gray;
      padding-top: 1rem;
      padding-bottom: 1rem;
      &:first-child {
        padding-top: 0rem;
      }
      &:last-child {
        border: none;
      }
    }
  }
  .related-content {
    margin-right: 10% !important;
  }
  .related-group h2 {
    margin-bottom: 0.5rem;
  }
  .related-group .related-item {
    padding: 0 0 0.5rem 0;
    line-height: 1.3;
  }
  .related-content .related-item a {
    border-bottom: 1px solid rgb(42, 42, 42);
    padding-bottom: 1px;
    color: rgb(42, 42, 42);
    transition: color 0.22s ease-in-out;
    &:hover {
      color: $gray;
      border-bottom-color: $gray;
    }
  }
}

// People (related) overrides
.news-features .related-container,
.profile .related-container {
  margin-top: 3em;
}

.people .related-container {
  padding-left: calc(30% + 0.5rem);
}

@include mq($until: tablet) {
  .people .related-container {
    padding-left: 1rem;
  }
  .profile .related-container {
    margin-top: 1rem;
  }
}

.news-features .related-container h2,
.profile .related-group h2 {
  font-family: $tradegothic;
  @include font-size(0.925rem);
  font-weight: 100;
  color: $black;
  text-transform: initial;
  margin-bottom: 0.5rem;
}

.related-content,
.related-content time {
  font-family: $dignitas;
  @include font-size(1.2rem);
}
.related-content time {
  color: $gray;
}

.registration-button {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.registration-button a {
  display: inline-block;
  margin-top: 1rem;
  border: 2px solid rgb(92, 91, 91) !important;
  color: rgb(92, 91, 91) !important;
  padding: 0.75rem 1rem;
}

.event-container p a {
  border-bottom: 1px solid $black;
  padding-bottom: 2px;
}

.event-container p em {
  font-family: $dignitasital;
}

.related-item .views-field {
  text-indent: -10px;
  padding-left: 10px;
}

.event-description .field-events-summary,
.event-description {
  p > em {
    font-family: $dignitasital;
  }
  p > a {
    color: $black;
    border-bottom: 1px solid $black;
    transition: color 0.22s ease-in-out;
    &:hover {
      border-bottom-color: $gray;
      color: $gray;
    }
  }
}

.event-description .more-info {
  color: $black;
  transition: color 0.22s ease-in-out;
  &:hover a,
  &:hover:after {
    color: $gray;
  }
}
