.promo-layout .promo {
  display: flex;
  gap: 1rem;

  article {
    flex-basis: 33%;
  }

  .media img {
    width: 100%;
  }

  @include mq($until: tablet) {
    flex-direction: column;
    gap: 0;

    article {
      flex-basis: 100%;
    }
  }
}

// page promo styles
.promo-layout {
  margin: 7rem auto;
  max-width: $max-vw;
  padding: 0 1rem;
}

.promo-layout .card-promo.page {
  .card-body .field-page-summary {
    @include body;
    padding-right: 2rem;
  }
}

// event promo styles
.promo-layout .card-promo.event {

  .field-events-event-series,
  .field-events-event-type {
    font-family: "Dignitas Regular";
    font-size: 1.45rem;
    line-height: 1.1;
    color: #919191;
  }

  .event-date,
  .event-time {
    @include body;
  }

  .read-more {
    margin-top: 1rem;
  }
}

// event promo styles
.promo-layout .card-promo.news {
  .field-news-features-summary {
    @include body;
  }

}

@include mq($until: tablet) {
  .card-promo {
    margin-bottom: 2rem;

    h2,
    .card-body {
      padding-right: 2rem;
    }
  }

  .card-promo:last-child {
    margin-bottom: 0;
  }
}

.card-promo a {

  h2,
  p,
  .field__item {
    color: $black;
    transition: color .22s ease-in-out;
  }

  img {
    opacity: 100%;
    transition: opacity .22s ease-in-out;
  }
}

.card-promo a:hover {

  h2,
  .field__item,
  p {
    color: $gray;
  }

  img {
    opacity: 90%;
  }
}
