// Search results.
.search-result {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #e8e8e8;
}

.search-result {
  h2 {
    @include title-serif;
    @include font-size(2.2rem);
    padding-bottom: 0.5rem;
  }

  .content-type,
  .field-events-event-type {
    @include label;
    padding-bottom: 0.5rem;
    color: $black;
  }

  .field-media-image,
  .field-events-image,
  .field-people-portrait {
    width: 50% !important;
    opacity: 1;
    transition: opacity 0.22s ease !important;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  @include mq($until: tablet) {
    .field-media-image,
    .field-events-image,
    .field-people-portrait {
      width: 100%;
    }
  }

  // Events

  .field-events-event-dates,
  .field-events-event-dates-overrid,
  .field-events-event-series,
  .field-events-rel-places,
  .group.prize .field,
  .group.fellowship .field {
    @include body;
    line-height: 1.2;
    color: $gray !important;

    span {
      font-family: $dignitasital;
    }
  }

  .body {
    @include body;
    line-height: 1.2;
    color: $black;
    margin-top: 0.5rem;
  }
}

.search-result {
  h2 {
    transition: color 0.22s ease;
  }

  h2:hover {
    color: $gray;
  }
}

// Search results transitions.
.search-result > a {
  h2,
  .field,
  .body,
  .content-type {
    color: $black;
    transition: color 0.22s ease;
  }
  .daterange,
  .field-events-event-series,
  .content-type {
    transition: color 0.22s ease;
  }
}

.search-result > a:hover {
  h2,
  .field,
  .body,
  .content-type {
    color: $gray;
    transition: color 0.22s ease;
  }
  .field-media-image,
  .field-events-image {
    opacity: 0.7;
    transition: opacity 0.22s ease;
  }
}

// Search buttons.
.search-page {
  form input[type="submit"] {
    @include label;
    padding: 0.75rem 2rem !important;
    border: 1px solid $black;
    margin-right: 1rem;
  }

  form input[type="submit"]:nth-child(2) {
    border: none;
    padding: 0 !important;
    color: $gray;
    text-transform: lowercase;
  }

  form input[type="text"] {
    color: $black;
    padding: 0.2rem 0.1rem;
  }

  .views-exposed-form div:first-child {
    margin-top: 1rem;
  }
}

// Search pager.
.search-page .pager__item {
  @include label;
}
