.slide__caption {
  top: 0;
  padding: 0;
}

.front.events .front.news-slideshow {
  h2 {
    @include title-card-serif;
    margin-top: 0.25rem;
  }

  time {
    @include label;
  }
}

.front.events,
.front.news-slideshow {
  .media--image {
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    background-color: #f8faf5;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: auto;
      height: 100%;
    }
  }
}

.front.events,
.front.news-slideshow {
  .slide__caption {
    padding-top: 1rem;
  }
}

.society-of-fellows .slideshow-wrapper .slick,
.news-features .slideshow-wrapper .slick {
  max-width: $jumbotron;
  margin: 0 auto;

  .field-media-image {
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    background-color: #f8faf5;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: auto;
      height: 100%;
    }
  }
}
