.wordmark-default,
.wordmark-narrow,
.wordmark-stacked {
  display: none;
}

.site-name a {
  font-family: "Trade Gothic Bold Condensed Twenty";
  font-size: 1rem;
  text-transform: uppercase;

  &:hover {
    color: #919191;
    transition: color .22s ease;
  }
}

body.home {
  .site-name {
    padding-top: 2px;
  }

  .site-name a span {
    display: none;
  }

  @include mq($from: wide) {
    .wordmark-default {
      display: block;
    }

    .site-name {
      flex-basis: 40%;
      padding-right: 3vw;
    }

  }

  @include mq($from: desktop, $until: wide) {
    .site-name {
      flex-basis: 25%;
      padding-right: 1vw;
    }

    .wordmark-narrow {
      display: block;
    }
  }

  @include mq($from: tablet, $until: desktop) {
    .layout-container {
      margin-top: calc(100px + 2vw);
    }

    .site-name {
      flex-basis: 20%;
    }

    .wordmark-stacked {
      display: block;
    }
  }

  @include mq($until: tablet) {
    .site-name {
      flex-basis: 25%;
    }

    .wordmark-stacked {
      display: block;
    }
  }
}
