/* Swiper pagination overrides */
.swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: rgb(31, 37, 41);
}

/* Swiper navigation overrides */
.hero-carousel-container .swiper-button-next:after,
.hero-carousel-container .swiper-button-prev:after {
  content: '' !important;
}

.hero-carousel-container .swiper-button-prev,
.hero-carousel-container .swiper-button-next {
  position: absolute;
  top: 0;
  height: 20vh;
  width: 50%;
  z-index: 1;
  margin: 1px !important;
  padding: 1px !important;
}

.hero-carousel-container .swiper-button-prev {
  cursor: url('../images/arrow_carousel_left.png') 10 15, auto;
  left: 0;
}

.hero-carousel-container .swiper-button-next {
  cursor: url('../images/arrow_carousel_right.png') 10 15, auto;
  right: 0;
}


.hero-carousel-container .swiper-button-next:focus {
  outline: none;
}

.hero-carousel-container.swiper-button-prev:focus {
  outline: none;
}
