// Box-sizing default.
*,
html {
  box-sizing: border-box;
  font-size: 16px;
  padding: 0;
  margin: 0;
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
a:link,
a:active,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  color: $black;

  &:hover {
    cursor: pointer;
  }
}

figure {
  margin: 0;
  padding: 0;
}

iframe {
  width: 100% !important;
}

.page-section p a {
  border-bottom: 1px solid $black !important;
  padding-bottom: 2px;
  color: $black;
  transition: color 0.22s ease;
}

.page-section p a:hover {
  color: $link-hover;
  border-bottom: 1px solid $link-hover !important;
}

.page-section p a:visited {
  color: $link-visited;
  border-bottom: 1px solid $link-visited !important;
}

.page-section p a:visited:hover {
  color: $link-hover;
  border-bottom: 1px solid $link-hover !important;
}
