{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class
  ]
%}

<div{{attributes.addClass(classes)}}>
	<div class="header-menu">
		<button class='hamburger hamburger--minus' type='button'>
			<span class='hamburger-box'>
				<span class='hamburger-inner'></span>
			</span>
		</button>
		{{ drupal_block('system_branding_block') }}
		{{ drupal_menu('main') }}
		<div class="main-menu__utilities">
			{{ drupal_block('language_block:language_interface') }}
			{# <div class="search">
							<a href="search" class="search-eyeglass">Search
							</a>
						</div> #}
		</div>
	</div>
</div>
